<template>
  <div :class="styleClass">
    <div class="result-title">{{ analyseResult.name }}</div>
    <el-row>
      <el-col>
        <el-card :body-style="infoCardStyle">
          <div class="card-header">报考目标信息</div>
          {{ analyseResult.scoreDescription }}
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12">
        <el-card :body-style="infoCardStyle">
          <div class="card-header">成功概率</div>
          <el-row>
            <el-col :span="8">
              <el-progress
                type="circle"
                :percentage="probability"
                :color="probabilityColor"
                :width="$root.isMobileBrowser ? 80 : undefined"
                style="padding: 10px;"
              />
            </el-col>
            <el-col :span="16">
              <p>{{ analyseResult.description }}</p>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12">
        <el-card v-if="analyseResult.detail.hints" :body-style="infoCardStyle">
          <div class="card-header">说明</div>
          <div v-for="hint of analyseResult.detail.hints" :key="hint.title + '_' + hint.value">
            <i>{{ hint.title}}</i>:
            <strong>{{ hint.value }}</strong>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row>
      <el-col>
        <el-card :body-style="infoCardStyle">
          <div class="card-header">近三年录取概况</div>
          <transposed-table
            v-if="$root.isMobileBrowser"
            :columnInfos="ADMISSION_TABLE_COLUMN_INFOS"
            :rows="yearGroupedInfos"
          />
          <el-table v-else :data="yearGroupedInfos">
            <el-table-column prop="year" label="年份" />
            <el-table-column prop="cutoffScore" label="分数线" />
            <el-table-column prop="lowestScore" label="最低分" />
            <el-table-column prop="lowestRank" label="最低分排名" />
            <el-table-column prop="userRank" label="考生排名">
              <template slot-scope="scope">
                <span class="user-rank">{{ scope.row.userRank }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="averageRank" label="平均分排名" />
            <el-table-column prop="averageScore" label="平均分" />
            <el-table-column prop="recruitCount" label="计划数" />
            <el-table-column prop="candidateCount" label="投档数" />
            <el-table-column prop="enrollCount" label="录取数" />
            <el-table-column prop="rankingFromWSL" label="武书连排名" />
            <el-table-column prop="rankingFromXYH" label="校友会排名" />
          </el-table>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import TransposedTable from "../components/TransposedTable.vue";

export default {
  props: ["analyseResult", "styleClass"],
  components: {
    TransposedTable
  },
  data() {
    return {
      ADMISSION_TABLE_COLUMN_INFOS: [
        { prop: "year", label: "年份" },
        { prop: "cutoffScore", label: "分数线" },
        { prop: "lowestScore", label: "最低分" },
        { prop: "lowestRank", label: "最低分排名" },
        { prop: "userRank", label: "考生排名", style: { color: "#f56c6c" } },
        { prop: "averageRank", label: "平均分排名" },
        { prop: "averageScore", label: "平均分" },
        { prop: "recruitCount", label: "计划数" },
        { prop: "candidateCount", label: "投档数" },
        { prop: "enrollCount", label: "录取数" },
        { prop: "rankingFromWSL", label: "武书连排名" },
        { prop: "rankingFromXYH", label: "校友会排名" }
      ]
    };
  },
  computed: {
    probability() {
      return this.analyseResult.probability >= 0
        ? this.analyseResult.probability
        : 0;
    },
    probabilityColor() {
      const probability = this.probability;
      if (probability <= 69) {
        return "gold";
      } else if (probability <= 94) {
        return "yellowgreen";
      } else {
        return "green";
      }
    },
    yearGroupedInfos() {
      return this.analyseResult.detail.yearGroupedInfos.map(info => {
        return {
          ...info,
          userRank: this.analyseResult.detail.rank
        };
      });
    },
    infoCardStyle() {
      return this.$root.isMobileBrowser
        ? { padding: "8px 12px 8px 12px" }
        : undefined;
    }
  }
};
</script>

<style scoped>
.user-rank {
  color: #f56c6c;
}
.info-card {
  min-height: 240px;
}
.group-chong .el-card {
  background-color: #ffffed;
}
.group-chong h4 {
  color: mediumblue;
}
.group-wen .el-card {
  background-color: #fbfff3;
}
.group-wen h4 {
  color: #007fff;
}
.group-bao .el-card {
  background-color: #f0faf3;
}
.group-bao h4 {
  color: green;
}
.card-header {
  padding: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ebeef5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.result-title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
</style>