<template>
  <el-row>
    <div>平行志愿{{ level }}</div>
    <el-form :inline="true" :disabled="!batchEnabled">
      <el-col :span="5">
        <el-form-item label="省份" size="small">
          <el-select v-model="province" placeholder="省份">
            <el-option
              v-for="province of provinces"
              :key="province.id"
              :label="province.name"
              :value="province.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="5">
        <el-form-item label="学校" size="small">
          <el-select v-model="schoolId" placeholder="学校">
            <el-option
              v-for="school of provinceSchools"
              :key="school.id"
              :label="school.name"
              :value="school.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="5">
        <el-form-item label="专业" size="small">
          <el-select v-model="schoolMajor" placeholder="专业" @change="onApplicationChange">
            <el-option v-for="major of schoolMajors" :key="major" :label="major" :value="major"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="4">
        <el-switch v-model="allowAdjusting" inactive-text="服从调剂：否" active-text="是" @change="onApplicationChange" />
      </el-col>
    </el-form>
  </el-row>
</template>

<script>
/* eslint-disable */ // TODO
import { PROVINCES, ALL_BATCHES } from "../common/constants";

export default {
  name: "ApplicationSelector",
  props: ["year", "category", "batch", "level", "batchEnabled", "province", "schoolId", "schoolMajor", "allowAdjusting"],
  data() {
    return {
      // province: undefined,
      provinces: PROVINCES,
    };
  },
  apollo: {
    provinceSchools: {
      query: require("../graphql/ProvinceSchools.gql"),
      variables() {
        return {
          province: this.province,
          category: this.category,
          batch: this.batch
        };
      },
      update(data) {
        this.schoolId = data.provinceSchools[0].id;
        return data.provinceSchools;
      },
      skip() {
        return this.province === undefined;
      }
    },
    schoolMajors: {
      query: require("../graphql/SchoolYearMajors.gql"), // TODO not need so many
      variables() {
        console.log("this.schoolId", this.schoolId); // TODO tmp for test
        return {
          id: this.schoolId,
          category: this.category,
          batch: this.batch,
          year: this.year
        };
      },
      update(data) {
        return data.school.majorAdmissionInfos.map(info => info.schoolMajor);
      },
      skip() {
        return this.schoolId === undefined;
      }
    }
  },
  methods: {
    onApplicationChange() {
      const data = {
        batch: this.batch,
        level: this.level,
        province: this.province,
        schoolId: this.schoolId,
        schoolMajor: this.schoolMajor,
        allowAdjusting: this.allowAdjusting
      };
      // console.log("onApplicationChange", data); // TODO
      this.$emit("onApplicationChange", data);
    }
  }
};
</script>