<template>
  <div>
    <el-row :gutter="24">
      <el-col :xs="12" :sm="12" :md="3" :lg="3">
        <el-select v-model="batch" placeholder="录取批次">
          <el-option v-for="batch of batches" :key="batch.id" :label="batch.name" :value="batch.id"></el-option>
        </el-select>
      </el-col>
      <el-col :xs="12" :sm="12" :md="3" :lg="3" style="margin-top: 2px">
        <el-select v-model="province" placeholder="省份">
          <el-option
            v-for="province of provinces"
            :key="province.id"
            :label="province.name"
            :value="province.id"
          ></el-option>
        </el-select>
      </el-col>
      <el-col :xs="12" :sm="12" :md="3" :lg="3" style="margin-top: 2px">
        <el-select v-model="schoolFlag985" placeholder="是否985" @change="clearSearchResult">
          <el-option :value="undefine">不限</el-option>
          <el-option :value="1" :key="1" label="985高校" />
          <el-option :value="0" :key="0" label="非985高校" />
        </el-select>
      </el-col>
      <el-col :xs="12" :sm="12" :md="3" :lg="3" style="margin-top: 2px">
        <el-select v-model="schoolFlag211" placeholder="是否211" @change="clearSearchResult">
          <el-option :value="undefine">不限</el-option>
          <el-option :value="1" :key="1" label="211高校" />
          <el-option :value="0" :key="0" label="非211高校" />
        </el-select>
      </el-col>
      <el-col :xs="12" :sm="12" :md="3" :lg="3" style="margin-top: 2px">
        <el-select v-model="schoolFlagTopCollege" placeholder="是否一流大学" @change="clearSearchResult">
          <el-option :value="undefine">不限</el-option>
          <el-option :value="1" :key="1" label="一流大学" />
          <el-option :value="0" :key="0" label="非一流大学" />
        </el-select>
      </el-col>
      <el-col :xs="12" :sm="12" :md="3" :lg="3" style="margin-top: 2px">
        <el-select v-model="schoolFlagTopMajor" placeholder="是否有一流学科" @change="clearSearchResult">
          <el-option :value="undefine">不限</el-option>
          <el-option :value="1" :key="1" label="有一流学科" />
          <el-option :value="0" :key="0" label="无一流学科" />
        </el-select>
      </el-col>
      <el-col :xs="24" :sm="24" :md="6" :lg="6">
        <el-autocomplete
          style="width: 100%"
          v-model="query"
          value-key="name"
          placeholder="点击输入关键字，在下拉菜单中筛选学校"
          :fetch-suggestions="searchAsync"
          @select="onSelectedSchoolChanged"
        />
      </el-col>
    </el-row>
  </div>
  <!-- </el-form> -->
</template>

<script>
import gql from "graphql-tag";
import {
  CATEGORIES,
  ALL_BATCHES,
  PROVINCES,
  availableApplyBatches
} from "../common/constants";
import { invokeApi } from "../common/utils";

export default {
  name: "SchoolQuery",
  props: ["loginUser", "adminUser"],
  data() {
    return {
      // constants
      categories: CATEGORIES,
      batches: ALL_BATCHES,
      provinces: PROVINCES,
      // search variables
      province: 11,
      batch: 0,
      category: 0,
      query: undefined,
      schoolFlag985: undefined,
      schoolFlag211: undefined,
      schoolFlagTopCollege: undefined,
      schoolFlagTopMajor: undefined,
      // result
      schoolList: [],
      schoolId: undefined
    };
  },
  watch: {
    loginUser(newLoginUser) {
      if (newLoginUser) {
        this.category = newLoginUser.candidateInfo.category;
        this.batches = availableApplyBatches(newLoginUser.candidateInfo);
      }
    }
  },
  methods: {
    async searchAsync(query, callback) {
      const apiResult = await invokeApi(() => {
        const filters = [{ key: "province", value: this.province.toString() }];
        if (this.schoolFlag985 !== undefined) {
          filters.push({
            key: "schoolFlag985",
            value: '1',
            op: this.schoolFlag985 === 1 ? '==' : '!='
          });
        }
        if (this.schoolFlag211 !== undefined) {
          filters.push({
            key: "schoolFlag211",
            value: '1',
            op: this.schoolFlag211 === 1 ? '==' : '!='
          });
        }
        if (this.schoolFlagTopCollege !== undefined) {
          filters.push({
            key: "schoolFlagTopCollege",
            value: '1',
            op: this.schoolFlagTopCollege === 1 ? '==' : '!='
          });
        }
        if (this.schoolFlagTopMajor !== undefined) {
          filters.push({
            key: "schoolFlagTopMajor",
            value: '1',
            op: this.schoolFlagTopMajor === 1 ? '==' : '!='
          });
        }
        return this.$apollo.query({
          query: gql`
            query(
              $query: String
              $category: Int
              $batch: Int
              $filters: [SearchFilter]
            ) {
              schoolSearch(
                query: $query
                category: $category
                batch: $batch
                filters: $filters
              ) {
                id
                name
              }
            }
          `,
          variables: {
            query: this.query,
            category: this.category,
            batch: this.batch,
            filters
          }
        });
      });
      // eslint-disable-next-line no-console
      console.log(">>> search result", apiResult); // TODO
      callback(apiResult.schoolSearch);
    },
    clearSearchResult() {
      this.query = undefined;
      this.schoolList = [];
      this.schoolId = undefined;
      this.$emit("onSelectedSchoolChanged", {
        schoolId: this.schoolId,
        category: this.category,
        batch: this.batch
      });
    },
    onSelectedSchoolChanged(item) {
      this.schoolId = item.id;
      this.$emit("onSelectedSchoolChanged", {
        schoolId: this.schoolId,
        category: this.category,
        batch: this.batch
      });
    },
  }
};
</script>


<style>
.el-form-item__content {
  width: 75%;
}
.el-col {
  padding: 2px;
}
</style>