<template>
  <div>
    <!-- TODO -->
    <el-row>
      <el-divider>学校志愿{{level}}</el-divider>
      <el-form :inline="true">
        筛选条件
        <el-form-item label="省份" size="small">
          <el-select v-model="province" placeholder="省份">
            <el-option
              v-for="province of provinces"
              :key="province.id"
              :label="province.name"
              :value="province.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <el-form>
        <el-form-item label="按名称搜索">
          <el-autocomplete
            value-key="name"
            :fetch-suggestions="querySearchAsync"
            placeholder="按名称搜索"
          ></el-autocomplete>
        </el-form-item>
      </el-form>
    </el-row>
    <template v-if="school">
      <el-row>
        <el-card>
          <div slot="header">
            <strong>{{ school.name }}</strong>
          </div>
          {{ school.rawIntro }}
        </el-card>
      </el-row>
      <el-row>
        <el-form :inline="true">
          <el-col v-for="level of majorLevels" :key="level.id" :span="6">
            <el-form-item :label="level.name">
              <el-select v-model="majors[level.id]" clearable>
                <el-option
                  v-for="major of availableMajors"
                  :key="major.schoolMajor"
                  :label="major.schoolMajor"
                  :value="major.schoolMajor"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="是否服从专业调剂">
              <el-switch v-model="allowAdjusting" inactive-text="否" active-text="是" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="是否服从部分专业调剂" v-if="hasExtraMajors">
              <el-switch v-model="allowPartialAdjusting" inactive-text="否" active-text="是" />
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row v-if="allowPartialAdjusting">
        <el-form :inline="true">
          <el-col v-for="level of extraMajorLevels" :key="level.id" :span="6">
            <el-form-item :label="level.name">
              <el-select v-model="extraMajors[level.id]" clearable>
                <el-option
                  v-for="major of availableMajors"
                  :key="major.schoolMajor"
                  :label="major.schoolMajor"
                  :value="major.schoolMajor"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form>
      </el-row>
      <el-row>
        <el-button @click="onConfirm" :disabled="!isConfirmAvailable">确认</el-button>
      </el-row>
    </template>
  </div>
</template>
<script>
/* eslint-disable */ // TODO
import gql from "graphql-tag";
import SEARCH_SCHOOL_QUERY from "../graphql/SearchSchool.gql";
import { invokeApi } from "../common/utils";
import { PROVINCES } from "../common/constants";

function genMajorLevels(nLevel, prefix) {
  const result = [];
  for (let i = 0; i < nLevel; i++) {
    result.push({
      id: i,
      name: prefix + String.fromCharCode(65 + i)
    });
  }
  return result;
}

export default {
  name: "SimApplyTargetSelector",
  props: [
    "year",
    "category",
    "batch",
    "level",
    "applyData"
  ],
  data() {
    const {
      hasExtraMajors,
      province,
      schoolId,
      majors = [],
      allowAdjusting = false,
      allowPartialAdjusting = false,
      extraMajors = []
     } = this.applyData;
    console.log("this.applyData", this.applyData); // TODO
    return {
      // 
      // constants
      provinces: PROVINCES,
      majorLevels: genMajorLevels(6, "专业志愿"),
      extraMajorLevels: genMajorLevels(10, "部分调剂专业志愿"),
      // variables
      // year: 2019, // TODO to be defined as prop
      // category: undefined,
      // batch: undefined,
      hasExtraMajors,
      province,
      schoolId,
      majors,
      allowAdjusting,
      allowPartialAdjusting,
      extraMajors,
      school: undefined,
    };
  },
  mounted() {
    if (this.schoolId) {
      this.onSelectSchool(this.schoolId);
    }
  },
  computed: {
    availableMajors() {
      const majors =
        (this.school && this.school.majorAdmissionInfos) || [];
      return majors.filter(
        major =>
          !this.majors.find(selected => selected == major.schoolMajor)
      );
    },
    isConfirmAvailable() {
      let majorInvalid = false;
      for (let m of this.majors) {
        if (m === undefined) {
          majorInvalid = true;
          break;
        }
      }
      return !majorInvalid && this.schoolId !== undefined;
    }
  },
  methods: {
    async querySearchAsync(queryString, callback) {
      const apiResult = await invokeApi(async () => {
        return this.$apollo.query({
          query: SEARCH_SCHOOL_QUERY,
          variables: {
            query: queryString,
            category: this.category
          }
        });
      });
      const results = apiResult.schoolSearch.map(x => {
        return { value: x.id, name: x.name };
      });
      console.log("search results", apiResult, results); // TODO
      callback(results);
    },
    async onSelectSchool(schoolId) {
      console.log("onSelectSchool", schoolId); // TODO
      const apiResult = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query SchoolBriefInfo(
              $id: Int!
              $category: Int!
              $batch: Int!
              $year: Int
            ) {
              school(
                id: $id
                admissionQuery: {
                  category: $category
                  batch: $batch
                  years: [$year]
                }
              ) {
                id
                name
                rawIntro
                majorAdmissionInfos {
                  schoolMajor
                }
              }
            }
          `,
          variables: {
            id: schoolId,
            category: this.category || 0, // TODO 0 is
            batch: this.batch || 0,
            year: this.year
          }
        });
      });
      this.school = apiResult.school;
    },
    onConfirm() {
      const simApplyData = {
        school: this.schoolId,
        majors: this.majors,
        allowAdjusting: this.allowAdjusting,
        allowPartialAdjusting: this.allowPartialAdjusting,
        extraMajors: this.extraMajors,
      };
      console.log("onConfirm data", simApplyData); // TODO
      this.$emit("onConfirm", simApplyData);
    }
  }
};
</script>