<template>
  <table class="transposedTable" :style="tableStyle">
    <tbody>
      <tr v-for="(vector, index) in dataMatrix" :key="index">
        <td v-for="(datum, jndex) in vector" :key="jndex" :style="datum.style">
          {{ datum.value }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data() {
    return {
      dataMatrix: [],
      headStyle: {},
      styleObject: {},
      s_showByRow: true
    };
  },
  props: ["columnInfos", "rows", "tableHeadStyle", "tableStyle"],
  created() {
    this.headStyle = this.tableHeadStyle || { width: "25%", fontWeight: "bold" };
    const transposedMatrix = [];
    for (let i = 0; i < this.columnInfos.length; i++) {
      transposedMatrix.push(Array(this.rows.length + 1));
    }
    for (let i = 0; i < this.columnInfos.length; i++) {
      const column = this.columnInfos[i];
      transposedMatrix[i][0] = {
        value: column["label"],
        style: this.headStyle
      };
    }
    for (let i = 0; i < this.columnInfos.length; i++) {
      const column = this.columnInfos[i];
      for (let j = 0; j < this.rows.length; j++) {
        transposedMatrix[i][j + 1] = {
          value: this.rows[j][column["prop"]],
          style: column["style"]
        };
      }
    }
    this.dataMatrix = transposedMatrix;
  }
};
</script>
<style scoped>
.transposedTable tr,
.transposedTable tr td {
  text-align: center;
}
.transposedTable {
  width: 100%;
  font-size: 12px;
  color: #71787e;
  width: 100%
}
.transposedTable tr td.column {
  background-color: #eff3f6;
  color: #393c3e;
}
</style>