<template>
  <el-dropdown trigger="click" @command="goto">
    <span class="el-dropdown-link dropdown-btn">
      <i class="el-icon-menu el-icon--right"></i>
    </span>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item icon="el-icon-data-analysis" command="admissionAnalyse">录取概率分析</el-dropdown-item>
      <el-dropdown-item icon="el-icon-data-line" command="recommend">院校专业推荐</el-dropdown-item>
      <el-dropdown-item icon="el-icon-edit-outline" command="simApplication">志愿模拟填报</el-dropdown-item>
      <el-dropdown-item icon="el-icon-s-custom" command="tutorial">专业教师辅导</el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    goto(uri) {
      this.$router.push({ path: uri });
    }
  }
};
</script>

<style>
</style>