<template>
  <el-header v-if="isMobileBrowser" class="mobile-el-header">
    <DropdownMenu v-if="isMobileBrowser" style="position: absolute; left: 5px; top: 2px;" />
    <div style="text-align: center">
      <el-link @click="goto('/')">
        <strong style="color: white; font-size: 20px">珞珈优才</strong>
      </el-link>
    </div>
    <el-dropdown
      trigger="click"
      @command="userActions"
      style="position: absolute; right: 5px; top: 2px"
    >
      <span class="el-dropdown-link dropdown-btn">
        <i class="el-icon-user-solid el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item icon="el-icon-user" command="home">个人主页</el-dropdown-item>
        <el-dropdown-item icon="el-icon-s-release" command="logout">退出登录</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </el-header>
  <el-header v-else class="pc-el-header">
    <div style="display: inline">
      <el-link @click="goto('/')">
        <strong style="color: white; font-size: 20px">珞珈优才</strong>
      </el-link>
      <i style="color: white; font-size: 14px; margin-left: 20px">专业高招分析辅导</i>
      <template v-if="loginUser && !isMobileBrowser">
        <span style="float: right; color: white">
          欢迎，
          <i>{{ loginUser.name }}</i>&nbsp;&nbsp;
          <el-link @click="goto('/home')">
            <span style="color: white">[修改个人信息]</span>
          </el-link>&nbsp;&nbsp;
          <el-link @click="logout">
            <span style="color: white">[退出登录]</span>
          </el-link>
        </span>
      </template>
    </div>
  </el-header>
</template>
<script>
import DropdownMenu from "./DropdownMenu.vue";
import { signOut } from "../../common/auth";
import { getLoginUser, isMobileBrowser } from "../../common/utils";

export default {
  name: "HeaderPanel",
  components: {
    DropdownMenu
  },
  data() {
    return {
      isMobileBrowser: isMobileBrowser(),
      loginUser: undefined
    };
  },
  created() {
    getLoginUser(this).then(user => {
      this.loginUser = user;
    });
  },
  methods: {
    async logout() {
      signOut();
      try {
        await this.$apolloProvider.defaultClient.resetStore();
      } catch (e) {
        // eslint-disable-next-line no-console
        console.log(
          "%cError on cache reset (login)",
          "color: orange;",
          e.message
        ); // TODO
      }
      this.loginUser = null;
      this.$message("退出登录");
      window.location.href = "/";
      // this.$router.push({ path: "" });
    },
    goto(url) {
      // eslint-disable-next-line no-console
      console.log("into goto", url);
      this.$router.push({ path: url });
    },
    userActions(command) {
      if (command == "logout") {
        this.logout();
      } else {
        this.goto(command);
      }
    }
  }
};
</script>

<style scoped>
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #c2c2c2;
}
a:active {
  color: white;
}
</style>

