<template>
  <el-container id="primary-wrapper">
    <HeaderPanel />
    <!-- side menu and main content: start -->
    <el-container id="main-container">
      <SideMenu v-if="!isMobileBrowser" />      
      <el-main>
        <div v-if="isMobileBrowser" style="height: 60px;">blocker</div>
        <router-view />
      </el-main>
    </el-container>
    <el-footer>
      <span>© 2019-2020 广西珞珈书香教育科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span v-if="!$root.isMobileBrowser">
        <a href="http://gx.beian.miit.gov.cn">备案号: 桂ICP备19012233号-1</a>
      </span>
    </el-footer>
    <el-backtop target="#primary-wrapper"></el-backtop>
  </el-container>
</template>

<script>
import HeaderPanel from "./HeaderPanel.vue";
import SideMenu from "./SideMenu.vue";
import { isMobileBrowser } from "../../common/utils";

export default {
  name: "layout",
  components: {
    HeaderPanel,
    SideMenu
    // impFooter
  },
  data() {
    return {
      isMobileBrowser: isMobileBrowser()
    };
  }
};
</script>

<style>
#primary-wrapper {
  height: 100%;
  border: 1px solid #eee;
  overflow-y: scroll;
}

a:link {  
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #c2c2c2;
}
a:active {
  text-decoration: none;
}

/* rewrite element-ui styles */
.el-collapse-item__header {
  background-color: unset;
  height: 3em;
}
.el-collapse-item__wrap {
  background-color: unset;
}
.mobile-el-header {
  background-color: #237a50;
  color: #333;
  line-height: 60px;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.pc-el-header {
  background-color: #237a50;
  color: #333;
  line-height: 60px;
  width: 100%;
}
.el-footer {
  /* background-color: #298535; */
  background-color: #237a50;
  color: white;
  text-align: center;
  line-height: 60px;
}
.el-aside {
  background-color: #f6fff7;
}
/* custom styles */
h1 {
  font-size: 48px;
  margin: 0 auto;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
.full-width {
  width: 100%;
}
.disabled-input {
  padding: 10px;
  margin: 0 0 0 10px;
}
.dropdown-btn {
  color: white;
  font-size: 30px;
}
.el-form-item__content {
  width: 75%;
}
/* global custom styles */
.block-title {
  padding: 5px;
  font-size: 16px;
}
.info-text {
  padding: 5px;
  font-size: 14px;
}
.result-block-title {
  padding: 5px;
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}
.page-title {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  margin: 2px;
}
.collapse-item-title {
  padding: 5px;
  font-size: 14px;
}
</style>