<template>
  <el-aside width="200px">
    <el-menu router>
      <el-menu-item index="admissionAnalyse">
        <template slot="title">
          <i class="el-icon-data-analysis">录取概率分析</i>
        </template>
      </el-menu-item>
      <el-menu-item index="recommend">
        <i class="el-icon-data-line">院校专业推荐</i>
      </el-menu-item>
      <el-menu-item index="simApplication">
        <template slot="title">
          <i class="el-icon-edit-outline">志愿模拟填报</i>
        </template>
      </el-menu-item>
      <el-menu-item index="tutorial">
        <template slot="title">
          <i class="el-icon-s-custom">专业教师辅导</i>
        </template>
      </el-menu-item>
      <!-- TODO: admin auth control -->
      <el-submenu index="admin" v-if="loginAdmin">
        <template slot="title">
          <i class="el-icon-s-custom">后台管理</i>
        </template>
        <el-menu-item-group>
          <el-menu-item index="inviteCodeManage">邀请码注册管理</el-menu-item>
          <el-menu-item index="adminManage">管理员信息管理</el-menu-item>
          <el-menu-item index="schoolManage">学校信息管理</el-menu-item>
          <el-menu-item index="articleManage">展示内容管理</el-menu-item>
          <el-menu-item index="userManage">用户管理</el-menu-item>
          <el-menu-item index="configManage">系统设置管理</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </el-aside>
</template>

<script>
import { getLoginAdmin } from "../../common/utils";

export default {
  props: {
    // TODO params
    // show: Boolean
  },
  data() {
    return {
      loginAdmin: undefined
    };
  },
  methods: {},
  mounted() {
    getLoginAdmin(this).then(admin => {
      this.loginAdmin = admin;
    });
  }
};
</script>
<style>
.showSlide {
  animation-duration: 0.2s;
  animation-name: slideInLeft;
}

.hideSlide {
  animation-duration: 0.2s;
  animation-name: slideOutLeft;
}

.main-sidebar {
  background-color: #ffffff;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  height: calc(100vh - 50px);
  width: 44px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.expandSide {
  width: 230px;
}

.el-menu-style,
.el-menu-style .el-menu {
  background-color: #ffffff;
}
.el-menu-style .el-menu-item:hover,
.el-menu-style .el-submenu__title:hover {
  background-color: #eeeeee !important;
}

.el-menu-style .el-submenu .el-menu-item {
  height: 45px;
  line-height: 45px;
}

.el-menu-style .el-menu-item,
.el-menu-style .el-submenu__title {
  height: 45px;
  line-height: 45px;
}

.main-sidebar .el-menu--collapse {
  width: 44px;
}

.main-sidebar .el-menu--collapse > .el-menu-item,
.main-sidebar .el-menu--collapse > .el-submenu > .el-submenu__title {
  padding-left: 13px !important;
}

.vue-scrollbar {
  background-color: #ffffff !important;
  height: calc(100vh - 50px);
}

.main-sidebar .el-scrollbar__bar.is-vertical {
  display: none;
}

.sidebar {
  min-height: 450px;
}
</style>
