<template>
  <el-container id="primary-wrapper">
    <el-header v-if="isMobileBrowser">
      <div style="text-align: center">
        <el-link @click="goto('/')">
          <strong style="color: white; font-size: 20px">珞珈优才</strong>
        </el-link>
      </div>
    </el-header>
    <el-header v-else>
      <div>
        <el-link @click="goto('/')">
          <strong style="color: white; font-size: 20px">珞珈优才</strong>
        </el-link>
        <i style="color: white; font-size: 14px; margin-left: 20px">专业高招分析辅导</i>
      </div>
    </el-header>
    <el-main>
      <router-view />
    </el-main>
    <el-footer>
      <span>© 2019-2020 广西珞珈书香教育科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span v-if="!$root.isMobileBrowser">
        <a href="http://gx.beian.miit.gov.cn">备案号: 桂ICP备19012233号-1</a>
      </span>
    </el-footer>
  </el-container>
</template>

<script>
import { isMobileBrowser } from "../../common/utils";

export default {
  name: "staticPageLayout",
  data() {
    return {
      isMobileBrowser: isMobileBrowser()
    };
  },
  methods: {
    goto(url) {
      // eslint-disable-next-line no-console
      console.log("into goto", url);
      this.$router.push({ path: url });
    },
  }
};
</script>
<style scoped>
.el-header {
  background-color: #237a50;
  color: #333;
  line-height: 60px;
  /* position: absolute; */
  width: 100%;
  color: white;
  /* z-index: 9999; */
}
</style>