<template>
  <div>
    <div>
      <div class="page-title">录取概率分析</div>
    </div>
    <el-row>
      <el-col :span="24">
        <div class="block-title">1. 选择学校</div>
        <school-query :loginUser="loginUser" @onSelectedSchoolChanged="onSelectedSchoolChanged" />
      </el-col>
    </el-row>
    <template v-if="school">
      <div class="block-title">2.确认信息</div>
      <div class="info-text">
        您是
        <strong>{{ year }}</strong> 年
        <strong>{{ categoryName }}</strong>
        <strong>{{ ethnicityName }}</strong> 考生，原始分数为
        <strong>{{ score }}</strong>，报考目标为
        <strong>{{ school.name }}。</strong>
      </div>
      <el-row :gutter="24">
        <el-form :inline="true" :model="applyParams">
          <el-col :xs="12" :sm="12" :md="6" :lg="6">
            <el-checkbox v-model="alsoDoMajorAnalyse">同时分析专业录取情况</el-checkbox>
          </el-col>
        </el-form>
      </el-row>
      <el-row v-if="alsoDoMajorAnalyse" :gutter="24">
        <el-col :span="24">
          <el-card>
            <div slot="header">
              <span>请勾选要分析的专业，至多六个</span>
            </div>
            <el-table
              ref="multipleTable"
              :data="school.majorAdmissionInfos"
              height="300"
              @selection-change="onSelectedMajorChanged"
            >
              <el-table-column type="selection" />
              <el-table-column prop="schoolMajor" label="专业名称" />
              <el-table-column prop="recruitCount" label="招生数" />
            </el-table>
          </el-card>
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" style="text-align: center">
          <el-button type="success" @click="submitAnalyse" :disabled="submitDisabled">开始分析</el-button>
        </el-col>
      </el-row>
    </template>
    <template v-if="schoolAnalyseResult">
      <el-divider />
      <h2 style="text-align: center">报告结果</h2>
      <div class="result-block-title">
        <strong>学校</strong>报考分析结果
      </div>
      <analyse-result :analyseResult="schoolAnalyseResult" />
      <template v-if="majorAnalyseResults && majorAnalyseResults.length > 0">
        <div v-for="majorAnalyseResult in majorAnalyseResults" :key="majorAnalyseResult.name">
          <div class="result-block-title">
            <strong>{{ majorAnalyseResult.name }}</strong>
            专业报考分析结果
          </div>
          <analyse-result :analyseResult="majorAnalyseResult" />
        </div>
      </template>
    </template>
  </div>
</template>
<script>
import SchoolQuery from "../components/SchoolQuery.vue";
import AnalyseResult from "../components/AnalyseResult.vue";
import { getLoginUser } from "../common/utils";
import { CATEGORIES, ALL_ETHNICS } from "../common/constants";

export default {
  name: "AdmissionAnalyse",
  components: {
    SchoolQuery,
    AnalyseResult
  },
  data() {
    return {
      loginUser: undefined,
      applyParams: {
        category: undefined,
        batch: undefined,
        schoolId: undefined,
        year: 2019,
        score: 600,
        schoolMajors: []
      },
      submitDisabled: false,
      alsoDoMajorAnalyse: false,
      school: undefined,
      years: [
        { id: 2019, name: "2019" },
        { id: 2018, name: "2018" },
        { id: 2017, name: "2017" },
        { id: 2016, name: "2016" }
      ],
      schoolAnalyseResult: undefined,
      majorAnalyseResults: undefined
    };
  },
  watch: {
    loginUser(newLoginUser) {
      if (newLoginUser !== undefined) {
        const { candidateInfo } = newLoginUser;
        this.applyParams.year = candidateInfo.year;
        this.applyParams.score = candidateInfo.score;
        const ethnicity = ALL_ETHNICS.find(
          x => x.id == candidateInfo.ethnicity
        );
        this.applyParams.ethnicityName = ethnicity && ethnicity.name;
      }
    },
    alsoDoMajorAnalyse(newValue) {
      if (!newValue) {
        this.submitDisabled = false;
        this.applyParams.schoolMajors = [];
      }
    }
  },
  created() {
    getLoginUser(this).then(user => {
      if (!user.activated) {
        this.$message.error("用户未激活");
        window.location.href = "#/home";
      } else {
        this.loginUser = user;
      }
    });
  },
  computed: {
    score() {
      return this.loginUser ? this.applyParams.score : "-";
    },
    categoryName() {
      return this.loginUser ? CATEGORIES[this.applyParams.category].name : "-";
    },
    year() {
      return this.loginUser ? this.applyParams.year : "-";
    },
    ethnicityName() {
      return this.loginUser ? this.applyParams.ethnicityName : "-";
    }
  },
  methods: {
    async onSelectedSchoolChanged(queryParams) {
      this.school = undefined;
      this.schoolAnalyseResult = undefined;
      this.majorAnalyseResults = undefined;
      if (queryParams.schoolId !== undefined) {
        await this.querySchoolYearMajors(queryParams);
      }
    },
    async querySchoolYearMajors(queryParams) {
      // eslint-disable-next-line no-console
      console.log("before querySchoolYearMajors", queryParams); // TODO
      this.applyParams.category = queryParams.category;
      this.applyParams.batch = queryParams.batch;
      this.applyParams.schoolId = queryParams.schoolId;
      this.applyParams.schoolMajors = [];
      const { data } = await this.$apollo.query({
        query: require("../graphql/SchoolYearMajors.gql"),
        variables: {
          id: queryParams.schoolId,
          category: queryParams.category,
          batch: queryParams.batch,
          year: this.applyParams.year
        }
      });
      // eslint-disable-next-line no-console
      console.log(" after querySchoolYearMajors", queryParams, data); // TODO
      this.school = data.school;
    },
    async submitAnalyse() {
      const { data } = await this.$apollo.query({
        query: require("../graphql/AnalyseSchool.gql"),
        variables: this.applyParams
      });
      this.$message("分析完成");
      const {
        schoolResult,
        majorResults,
        description
      } = data.schoolApplyAnalyse;
      this.schoolAnalyseResult = schoolResult;
      this.majorAnalyseResults = majorResults;
      this.studentDescription = description;
    },
    onSelectedMajorChanged(newValues) {
      if (newValues && newValues.length > 6) {
        this.$message({
          message: "最多允许选择六项",
          type: "warning"
        });
        this.submitDisabled = true;
      } else {
        this.submitDisabled = false;
        this.applyParams.schoolMajors = newValues.map(x => x.schoolMajor);
      }
    }
  }
};
</script>

<style>
</style>