<template>
  <div>
    <div>
      <span>
        <router-link to="/">首页</router-link> > {{ articleTypeName }}
      </span> 
    </div>
    <h1 class="article-title">{{ title }}</h1>
    
    <p v-for="para in contentParagraphs" :key="para" class="content-para">{{ para }}</p>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { invokeApi } from "../common/utils";

export default {
  name: "Article",
  data() {
    return {
      title: undefined,
      articleType: undefined,
      abstract: undefined,
      thumbnail: undefined,
      content: undefined
    };
  },
  async created() {
    const { id, key } = this.$route.query;
    // eslint-disable-next-line no-console
    console.log(this.$route);
    const article = await this.articleInfo({ id: parseInt(id), key });
    this.articleType = article.type;
    this.title = article.title;
    this.abstract = article.abstract;
    this.thumbnail = article.thumbnail;
    this.content = article.content;
  },
  computed: {
    contentParagraphs() {
      return (this.content && this.content.split("\n")) || [];
    },
    articleTypeName() {
      if (this.articleType === "teacher") {
        return "名师介绍";
      } else if (this.articleType === "intro") {
        return "关于我们";
      } else if (this.articleType === "announcement") {
        return "公告";
      } else {
        return "";
      }
    }
  },
  methods: {
    async articleInfo({ id, key }) {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($id: Int, $key: String) {
              article(id: $id, key: $key) {
                id
                key
                title
                type
                thumbnail
                abstract
                content
              }
            }
          `,
          variables: {
            id,
            key
          }
        });
      });
      return result.article;
    }
  }
};
</script>

<style scoped>
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  color: #c2c2c2;
}
a:active {
  text-decoration: none;
}
.content-para {
  text-indent: 2em;
}
.article-title {
  font-size: 30px;
  text-align: center;
}
</style>