<template>
  <div>
    <header>
      <div class="headline">
        <div>
          <img class="logo" src="../assets/img/banner_logo.png" />
        </div>
        <div>
          <img class="logo" src="../assets/img/banner_word.png" />
        </div>
        <div style="width: calc(95% - 710px)"></div>
        <div>
          <div class="headline-title">您身边的高考志愿填报专家</div>
        </div>
      </div>
      <div class="banner">
        <div class="banner-menu-item">首页</div>
        <div class="banner-menu-item">
          <a @click="goto('admissionAnalyse')">高考志愿填报大数据智能分析系统</a>
        </div>
        <div class="banner-menu-item">
          <a @click="showUnderConstruction">专业测评系统</a>
        </div>
        <div class="banner-menu-item">
          <a @click="showUnderConstruction">青少年学业规划系统</a>
        </div>
        <div class="banner-menu-item">
          <a @click="showUnderConstruction">综合教育培训系统</a>
        </div>
      </div>
    </header>
    <section>
      <el-row>
        <el-col :span="16">
          <el-carousel :interval="5000" height="400px" arrow="always">
            <el-carousel-item :style="backgroundDivStyle('campus_wuhan.jpg')"></el-carousel-item>
            <el-carousel-item :style="backgroundDivStyle('shengeng_slogan.jpg')"></el-carousel-item>
            <el-carousel-item :style="backgroundDivStyle('campus_thu_2.jpg')"></el-carousel-item>
            <!-- <el-carousel-item :style="backgroundDivStyle('students_girl.jpg')"></el-carousel-item> -->
            <el-carousel-item :style="backgroundDivStyle('comprehensive_training.jpg')"></el-carousel-item>
          </el-carousel>
        </el-col>
        <el-col :span="8">
          <div class="brief-intro">
            <div class="brief-intro-title">
              <router-link to="/page/article?key=siteIntro">关于珞珈优才</router-link>
            </div>
            <hr />
            <template v-if="introArticle">
              <p v-for="para in introArticle.abstract.split('\n')" :key="para">{{ para }}</p>
            </template>
            <!-- <p>
              珞珈优才团队，从
              <strong>2002年</strong>起就开始关注和研究广西高考招生政策和志愿填报章法，具有极其丰富的高考志愿填报指导经验，近二十年来已帮助广西考生上万人成功地录取到了自己心仪的专业和学校。
            </p>
            <p>独具四大系统，旗下引领众多高考志愿填报领域经验丰富的指导老师，帮助考生实现升学开挂，唱响人生新篇章！</p>-->
            <div class="system-btn">
              <a @click="goto('admissionAnalyse')">高考志愿填报大数据分析系统</a>
            </div>
            <div class="system-btn">专业测评系统</div>
            <div class="system-btn">青少年学业规划系统</div>
            <div class="system-btn">综合教育培训</div>
          </div>
        </el-col>
      </el-row>
    </section>
    <section>
      <div style="height: 1px; border-top: 2px solid #237b51; margin: 2px" />
      <div style="height: 40px; background-color: #237b51; margin-bottom: 10px">
        <div
          style="display: inline-block; color: white; font-size: 20px; padding-top: 5px; padding-left: 20px"
        >名师资源</div>
      </div>

      <el-row>
        <el-col :span="8" v-for="teacher in teachers" :key="teacher.name" style="padding: 5px">
          <el-card :body-style="{ padding: '2px', height: '380px' }">
            <div style="text-align: center">
              <el-image
                style="width: 200px; height: 200px"
                :src="require('../assets/img/logo_round_200.png')"
                :fit="contain"
              ></el-image>
            </div>
            <router-link :to="{ path: 'page/article', query: { key: teacher.key }}">
              <div style="padding: 14px;">
                <div class="brief-intro-title">{{teacher.name}}</div>
                <div class="bottom clearfix">
                  <p class="teacher-intro bottom clearfix">{{ teacher.intro }}</p>
                </div>
              </div>
            </router-link>
          </el-card>
        </el-col>
      </el-row>
    </section>
    <section>
      <div style="height: 1px; border-top: 2px solid #237b51; margin: 2px" />
      <div style="height: 40px; background-color: #237b51; margin-bottom: 10px">
        <div
          style="display: inline-block; color: white; font-size: 20px; padding-top: 5px; padding-left: 20px"
        >最新公告</div>
      </div>
      <div style="height: 80px">
        <p>暂无</p>
      </div>
    </section>

    <section>
      <div style="height: 1px; border-top: 2px solid #237b51; margin: 2px" />
      <div style="height: 40px; background-color: #237b51; margin-bottom: 10px">
        <div
          style="display: inline-block; color: white; font-size: 20px; padding-top: 5px; padding-left: 20px"
        >联系我们</div>
      </div>
      <div style="height: 120px">
        <p>
          <i class="el-icon-s-home"></i> 地址: 广西南宁市西乡塘区大学西路158号广西民族大学相思湖学院中马科创基地4楼
        </p>
        <p>
          <i class="el-icon-phone"></i> 电话: 17758653990
        </p>
        <p>
          <i class="el-icon-s-platform"></i> Email: luojiayoucai@163.com
        </p>
      </div>
    </section>
    <el-footer>
      <span>© 2019-2020 广西珞珈书香教育科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span v-if="!$root.isMobileBrowser">
        <a href="http://gx.beian.miit.gov.cn">备案号: 桂ICP备19012233号-1</a>
      </span>
    </el-footer>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { invokeApi } from "../common/utils";

export default {
  name: "Index",
  data() {
    return {
      introArticle: undefined,
      teachers: []
    };
  },
  async created() {
    const teacherIntroArticles = await Promise.all(
      [...Array(5).keys()].map(i => {
        return this.articleBriefInfo(`teacherIntro${i + 1}`);
      })
    );
    this.teachers = teacherIntroArticles.map(a => {
      return a && { key: a.key, name: a.title, intro: a.abstract };
    });
    this.introArticle = await this.articleBriefInfo("siteIntro");
  },
  methods: {
    async articleBriefInfo(key) {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($key: String) {
              article(key: $key) {
                id
                key
                title
                thumbnail
                abstract
              }
            }
          `,
          variables: {
            key
          }
        });
      });
      return result.article;
    },
    backgroundDivStyle(fileName) {
      return {
        backgroundImage: "url(" + require(`../assets/img/${fileName}`) + ")",
        backgroundRepeat: "no-repeat",
        backgroundPosition: "center",
        backgroundSize: "auto 100%"
      };
    },
    showUnderConstruction() {
      this.$message("功能建设中……");
    },
    goto(url) {
      this.$router.push({ path: url });
    }
  }
};
</script>

<style scoped>
a:link {  
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  color: #c2c2c2;
}
a:active {
  text-decoration: none;
}

.inline {
  display: inline;
}

header {
  /* height: 150px; */
  padding-top: 15px;
}
section {
  margin-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5px;
}
.headline {
  height: 100px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10px;
}
.headline::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.headline div {
  display: inline-block;
  vertical-align: middle;
}
.headline .logo {
  max-height: 100px;
  margin-right: 50px;
}
.headline-title {
  font-size: 20px;
}
.banner {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #237b51;
}
.banner-menu-item {
  display: inline;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.banner-log-zone {
  float: right;
  width: 150px;
}
.banner-menu-item:hover {
  background-color: #1d6845;
  font-weight: bold;
  transition: background-color 0.2s linear;
}
.carousel-block {
  max-width: 848px;
}

.carousel-block div {
  vertical-align: middle;
}

.brief-intro {
  height: 400px;
  padding: 10px;
}
.brief-intro-title {
  text-align: center;
  font-size: 20px;
}
.brief-intro .system-btn {
  width: 100%;
  border: solid 1px;
  padding: 1px;
  font-size: 20px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #34be7b;
  /* box-shadow: 2px 2px 5px #888888; */
  border-radius: 4px;
  text-align: center;
  /* animation: lighting 1.2s linear infinite forwards; */
}
.brief-intro .system-btn:hover {
  background-color: #237a50;
}
.bottom {
  margin-top: 5px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.teacher-intro {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
</style>