<template>
  <div class="center">
    <el-row v-if="codeBatchInfo">
      <h3>扫码获取注册邀请码</h3>
      <div>
        <h2>验证码批次: {{ codeBatchInfo.name }}</h2>
      </div>
    </el-row>
    <div v-else>无此验证码批次</div>
    <div class="qr-code" ref="qrCodeDiv" />
    <div v-if="!isMobileBrowser" style="margin-top: 10px">
      <strong>
        或
        <el-link :href="newInviteCodeUrl">点击获取注册邀请码</el-link>
      </strong>
    </div>
  </div>
</template>
<script>
import QRCode from "qrcodejs2";
import gql from "graphql-tag";
import { invokeApi, isMobileBrowser } from "../common/utils";

export default {
  name: "InviteCodeBatch",
  data() {
    return {
      batchId: undefined,
      codeBatchInfo: undefined,
      isMobileBrowser: isMobileBrowser(),
      newInviteCodeUrl: undefined
    };
  },
  methods: {
    bindQRCode() {
      new QRCode(this.$refs.qrCodeDiv, {
        text: this.newInviteCodeUrl,
        width: 300,
        height: 300,
        colorDark: "#333333", //二维码颜色
        colorLight: "#ffffff", //二维码背景色
        correctLevel: QRCode.CorrectLevel.L //容错率，L/M/H
      });
    },
    async loadCodeBatchInfo(batchId) {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($id: Int) {
              inviteCodeBatch(id: $id) {
                id
                name
                codeCount
                remainCodeCount
              }
            }
          `,
          variables: { id: batchId }
        });
      });
      this.codeBatchInfo = result.inviteCodeBatch;
      this.bindQRCode();
    }
  },
  created() {
    this.batchId = parseInt(this.$route.query.id);
    if (this.batchId) {
      // eslint-disable-next-line no-console
      console.log("process.env", process.env);
      const urlPrefix =
        process.env.VUE_APP_GRAPHQL_HTTP !== undefined
          ? "http://192.168.0.107:8080"
          : "http://www.luojiayoucai.com";
      this.newInviteCodeUrl = `${urlPrefix}/#/newInviteCode?batch=${this.batchId}`;
      this.loadCodeBatchInfo(this.batchId);
    }
  }
};
</script>
<style scoped>
.center {
  text-align: center;
}
.qr-code {
  margin: 0 auto;
  width: 300px;
}
</style>