<template lang="html">
  <el-row class="register-block">
    <div class="block200"/>
    <div v-if="loginUser">
      <span>您已登录 {{ loginUser.name }}</span>
    </div>
    <el-col :xs="24" v-else class="center">
      <el-tabs type="border-card" v-model="activePanel" :stretch="true">
        <!-- login panel -->
        <el-tab-pane label="手机号登录" name="mobileLogin">
          <el-form :inline="true">
            <el-row>
              <el-col :span="5">
                <el-form-item label="手机号" class="form-label">
                </el-form-item>
              </el-col>
              <el-col :span="19">
                <el-input type="text" placeholder="手机号" v-model="loginForm.mobile"/>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="5">
                <el-form-item label="密码" class="form-label">
                </el-form-item>
              </el-col>
              <el-col :span="19">
                <el-input placeholder="密码" v-model="loginForm.password" show-password/>
              </el-col>
            </el-row>
            <el-row class="center">
              <el-col :span="12">
                <el-button type="success" @click="login">登录</el-button>
              </el-col>
              <el-col :span="12">
                <el-button type="button" >忘记密码?</el-button>
              </el-col>
            </el-row>
          </el-form>
        </el-tab-pane>
        <!-- invite code panel -->
        <el-tab-pane label="邀请码账户登录" name="inviteCodeLogin">
          <el-form :inline="true">
            <el-row>
              <el-col :span="5">
                <el-form-item label="手机号" class="form-label">
                </el-form-item>
              </el-col>
              <el-col :span="19">
                <el-input type="text" placeholder="手机号" v-model="inviteCodeRegForm.mobile"/>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="5">
                <el-form-item label="邀请码" class="form-label">
                </el-form-item>
              </el-col>
              <el-col :span="19">
                <el-input placeholder="邀请码" v-model="inviteCodeRegForm.inviteCode" />
              </el-col>
            </el-row>
            <el-row class="center">
              <el-col :span="12">
                <el-button type="success" @click="inviteCodeLogin">登录</el-button>
              </el-col>
              <el-col :span="12">

              </el-col>
            </el-row>
          </el-form>
          
        </el-tab-pane>
      </el-tabs>
    </el-col>
  </el-row>
</template>

<script>
/* eslint-disable */ // TODO

import MY_PROFILE_QUERY from "../graphql/MyProfile.gql";
import LOGIN_MUTATION from "../graphql/Login.gql";
// import REGISTER_MUTATION from "../graphql/PasswordRegister.gql";

import { invokeApi, getLoginUser } from "../common/utils";
import { onLogin, signIn, signOut } from "../common/auth";

export default {
  name: "login",
  data() {
    return {
      loginUser: undefined,
      loginForm: {
        mobile: "",
        password: ""
      },
      // registerForm: {
      //   mobile: "",
      //   password: "",
      //   repeatPassword: "",
      //   realName: ""
      // },
      activePanel: this.$route.query.inviteCode ? "inviteCodeLogin" : "mobileLogin",
      inviteCodeRegForm: {
        mobile: this.$route.query.mobile,
        inviteCode: this.$route.query.inviteCode
      }
    };
  },
  components: {},
  methods: {
    async onAuthSuccess(token, loginUser, forceRedirectUrl) {
      await signIn(token, this.$apolloProvider.defaultClient);
      this.loginUser = loginUser;
      this.$root.loginUser = loginUser; // FIXME
      this.$message("登录成功");
      const redirectUrl =
        forceRedirectUrl || (this.$route.query &&
          this.$route.query != null &&
          this.$route.query.redirect &&
          this.$route.query.redirect) ||
        "/";
      // eslint-disable-next-line no-console
      console.log(`redirecting to ${redirectUrl}`); // TODO
      this.$router.push({ path: redirectUrl });
    },
    async login() {
      const result = await invokeApi(async () => {
        return this.$apollo.mutate({
          mutation: LOGIN_MUTATION,
          variables: {
            account: this.loginForm.mobile,
            password: this.loginForm.password
          }
        });
      });
      console.log("loginResult", result); // TODO
      if (result) {
        const { token, user } = result.login;
        await this.onAuthSuccess(token, user);
      }
    },
    async inviteCodeLogin() {
      const result = await invokeApi(async () => {
        return this.$apollo.mutate({
          mutation: LOGIN_MUTATION,
          variables: {
            account: this.inviteCodeRegForm.mobile,
            password: this.inviteCodeRegForm.inviteCode
          }
        });
      });
      console.log("invite code loginResult", result); // TODO
      if (result) {
        const { token, user } = result.login;
        await this.onAuthSuccess(token, user, "/home"); // redirect to home page to activate user
      }
    },
    // async register() {
    //   if (this.register.password !== this.register.repeatPassword) {
    //     return this.$message("密码不一致"); // TODO
    //   }
    //   const result = await invokeApi(async () => {
    //     return this.$apollo.mutate({
    //       mutation: REGISTER_MUTATION,
    //       variables: {
    //         mobile: this.registerForm.mobile,
    //         password: this.registerForm.password,
    //         realName: this.registerForm.realName
    //       }
    //     });
    //   });
    //   if (result) {
    //     const { token, user } = result.passwordRegister;
    //     await this.onAuthSuccess(token, user);
    //   }
    // },
    // async inviteCodeRegister() {
    //   const result = await invokeApi(async () => {
    //     return this.$apollo.mutate({
    //       mutation: INVITE_CODE_REGISTER_MUTATION,
    //       variables: {
    //         mobile: this.inviteCodeRegForm.mobile,
    //         inviteCode: this.inviteCodeRegForm.inviteCode
    //       }
    //     });
    //   });
    //   if (result) {
    //     const { token, user } = result.inviteCodeRegister;
    //     await this.onAuthSuccess(token, user);
    //   }
    // }
  },
  created() {
    getLoginUser(this).then(user => {
      this.loginUser = user;
      if (user) {
        const redirectUrl =
          (this.$route.query &&
            this.$route.query != null &&
            this.$route.query.redirect &&
            this.$route.query.redirect) ||
          "/admissionAnalyse";
        this.$router.push({ path: redirectUrl });
      }
    });
  }
};
</script>

<style scoped>
.register-block {
  text-align: center;
  margin: 10px auto;
  max-width: 350px;
}
.block200 {
  height: 200px;
}
.form-label {
  margin: 0; 
  padding: 0;
}
.center {
  text-align: center;
}
</style>
