<template>
  <div v-if="loginUser">
    <span>您已登录 {{ loginUser.name }}</span>
  </div>
  <el-row v-else class="register-block">
    <div class="block200"/>
    <el-row v-if="batchId">
      <el-card>
        <div slot="header">
          <strong>获取您的注册邀请码</strong>
        </div>
        <el-form :inline="true">
          <el-row>
            <el-col :span="5">
              <el-form-item label="手机号" class="form-label"></el-form-item>
            </el-col>
            <el-col :span="19">
              <el-input type="text" placeholder="手机号" v-model="mobile" />
            </el-col>
          </el-row>
          <el-row v-if="createdNewInviteCode === undefined" class="center">
            <el-row>
              <el-col :span="24">
                <i class="el-icon-info" />
                <span>点击获取验证码，登录并激活用户后，可免费体验两个小时</span>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-button type="success" @click="inviteCodeRegister">获取</el-button>
              </el-col>
            </el-row>
          </el-row>
          <el-row v-else>
            <el-col :span="12">
              <span>
                已获取验证码
                <strong>{{ createdNewInviteCode }}</strong>，请登录后激活用户
              </span>
            </el-col>
            <el-col :span="12">
              <el-button type="success" @click="closeInviteCodeDialog(true)">去登录</el-button>
            </el-col>
          </el-row>
        </el-form>
      </el-card>
      <el-dialog title="成功获取验证码" :visible.sync="registerSuccessDialogVisible" center>
        <div>您的验证码是 {{ createdNewInviteCode }}</div>
        <div>凭此验证码登录并激活后，可免费体验两个小时</div>
        <span slot="footer">
          <el-button type="primary" @click="closeInviteCodeDialog(true)">立刻登录</el-button>
          <el-button @click="closeInviteCodeDialog(false)">稍后再说</el-button>
        </span>
      </el-dialog>
    </el-row>
    <div v-else>无此验证码批次</div>
  </el-row>
</template>

<script>
import gql from "graphql-tag";
import { invokeApi, getLoginUser } from "../common/utils";

export default {
  name: "NewInviteCode",
  data() {
    return {
      mobile: undefined,
      batchId: parseInt(this.$route.query.batch),
      createdNewInviteCode: undefined,
      registerSuccessDialogVisible: false
    };
  },
  methods: {
    async inviteCodeRegister() {
      const result = await invokeApi(() => {
        return this.$apollo.mutate({
          mutation: gql`
            mutation InviteCodeRegister($batchId: Int!, $mobile: String!) {
              inviteCodeRegister(batchId: $batchId, mobile: $mobile) {
                inviteCode
                user {
                  id
                  name
                }
              }
            }
          `,
          variables: { batchId: this.batchId, mobile: this.mobile }
        });
      });
      if (result) {
        const { user, inviteCode } = result.inviteCodeRegister;
        // eslint-disable-next-line no-console
        console.log("register NewInviteCodeUser", user, inviteCode); // TODO tmp for test
        this.createdNewInviteCode = inviteCode;
        this.registerSuccessDialogVisible = true;
      }
    },
    closeInviteCodeDialog(jumpToLogin = false) {
      this.registerSuccessDialogVisible = false;
      if (jumpToLogin) {
        this.$router.push({
          path: "/login",
          query: { inviteCode: this.createdNewInviteCode, mobile: this.mobile }
        });
      }
    }
  },
  created() {
    getLoginUser(this).then(user => {
      this.loginUser = user;
    });
  }
};
</script>

<style scoped>
.register-block {
  text-align: center;
  margin: 10px auto;
  max-width: 350px;
}
.block200 {
  height: 200px;
}
.form-label {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
</style>