<template>
  <div v-if="loginUser">
    <template v-if="!loginUser.activated">
      <p>
        <strong>用户激活</strong>
      </p>
      <el-row v-if="loginUser">
        <el-form>
          <el-form-item label="新密码">
            <el-input v-model="newPassword" />
          </el-form-item>
          <el-form-item label="确认密码">
            <el-input v-model="confirmedPassword" />
          </el-form-item>
          <el-button @click="activate">激活</el-button>
        </el-form>
      </el-row>
    </template>
    <template v-else>
      <p>
        <strong>用户密码修改</strong>
      </p>
      <el-row v-if="loginUser">
        <el-form>
          <el-form-item label="旧密码">
            <el-input v-model="oldPassword" show-password />
          </el-form-item>
          <el-form-item label="新密码">
            <el-input v-model="newPassword" show-password />
          </el-form-item>
          <el-form-item label="确认密码">
            <el-input v-model="confirmedPassword" show-password />
          </el-form-item>
          <el-button @click="changePassword">确认修改</el-button>
        </el-form>
      </el-row>
    </template>
  </div>
</template>

<script>
import { getLoginUser } from "../common/utils";

export default {
  name: "PasswordManage",
  data() {
    return {
      loginUser: undefined,
      oldPassword: undefined,
      newPassword: undefined,
      confirmedPassword: undefined
    };
  },
  created() {
    getLoginUser(this, false).then(user => {
      this.loginUser = user;
    });
  },
  methods: {
    async activate() {
      if (this.loginUser.activate) {
        return;
      }
      if (this.newPassword !== this.confirmedPassword) {
        this.$message("两次密码不一致");
        return;
      }
      await this.$apollo.mutate({
        mutation: require("../graphql/ActivateInviteCodeAccountMutation.gql"),
        variables: {
          password: this.newPassword
        }
      });
      const loginUser = await getLoginUser(this, false);
      this.loginUser = loginUser;
      alert("激活成功");
      window.location.href = "#/admissionAnalyse";
    },
    async changePassword() {
      // TODO
      this.$message("开发中...");
    }
  }
};
</script>