<template>
  <div>
    <div>
      <div class="page-title">报考高校推荐</div>
    </div>
    <el-row v-if="loginUser">
      <div class="info-text">
        您是
        <strong>{{ year }}</strong> 年
        <strong>{{ categoryName }}</strong>
        <strong>{{ ethnicityName }}</strong> 考生，原始分数为
        <strong>{{ score }}</strong>
      </div>
      <!-- <div style="text-align: center">
        <i class="el-icon-question"></i>
        信息有误？
        <span style="color: red" @click="$router.push({ path: 'home' })">点击修改</span>
      </div>-->
    </el-row>
    <el-collapse v-model="activeCollapseItems">
      <el-collapse-item name="condition" style="background-color: none">
        <template slot="title">
          <div class="collapse-item-title">筛选条件</div>
        </template>
        <el-row>
          <div class="info-text"></div>
          <el-col :xs="12" :sm="12" :md="3" :lg="3">
            <el-select v-model="batch" placeholder="录取批次">
              <el-option
                v-for="batch of batches"
                :key="batch.id"
                :label="batch.name"
                :value="batch.id"
              ></el-option>
            </el-select>
          </el-col>
          <el-col :xs="12" :sm="12" :md="3" :lg="3">
            <el-select v-model="province" placeholder="省份">
              <el-option
                v-for="province of provinces"
                :key="province.id"
                :label="province.name"
                :value="province.id"
              ></el-option>
            </el-select>
          </el-col>
          <el-col :xs="12" :sm="12" :md="3" :lg="3" style="margin-top: 2px">
            <el-select v-model="schoolFlag985" placeholder="是否985" @change="clearSearchResult">
              <el-option :value="undefine">不限</el-option>
              <el-option :value="1" :key="1" label="985高校" />
              <el-option :value="0" :key="0" label="非985高校" />
            </el-select>
          </el-col>
          <el-col :xs="12" :sm="12" :md="3" :lg="3" style="margin-top: 2px">
            <el-select v-model="schoolFlag211" placeholder="是否211" @change="clearSearchResult">
              <el-option :value="undefine">不限</el-option>
              <el-option :value="1" :key="1" label="211高校" />
              <el-option :value="0" :key="0" label="非211高校" />
            </el-select>
          </el-col>
          <el-col :xs="12" :sm="12" :md="4" :lg="4" style="margin-top: 2px">
            <el-select
              v-model="schoolFlagTopCollege"
              placeholder="是否一流大学"
              @change="clearSearchResult"
            >
              <el-option :value="undefine">不限</el-option>
              <el-option :value="1" :key="1" label="一流大学" />
              <el-option :value="0" :key="0" label="非一流大学" />
            </el-select>
          </el-col>
          <el-col :xs="12" :sm="12" :md="4" :lg="4" style="margin-top: 2px">
            <el-select
              v-model="schoolFlagTopMajor"
              placeholder="是否有一流学科"
              @change="clearSearchResult"
            >
              <el-option :value="undefine">不限</el-option>
              <el-option :value="1" :key="1" label="有一流学科" />
              <el-option :value="0" :key="0" label="无一流学科" />
            </el-select>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xs="24" :sm="24" :md="9" :lg="9">
            <el-input v-model="query" placeholder="关键词" />
          </el-col>
          <el-col :xs="24" :sm="24" :md="4" :lg="4" style="text-align:center">
            <el-button type="success" @click="requestRecommend">查看推荐</el-button>
          </el-col>
        </el-row>
      </el-collapse-item>
      <template v-if="recommendResult">
        <el-collapse-item
          v-for="(resultGroup, index) in recommendResult"
          :key="resultGroup.description"
          :name="`result-${index}`"
        >
          <template slot="title">
            <div class="collapse-item-title">{{ resultGroup.description }}</div>
          </template>
          <div class="result-group" v-if="resultGroup.results.length">
            <analyse-result
              v-for="analyseResult in resultGroup.results"
              :key="analyseResult.name"
              :analyseResult="analyseResult"
              :styleClass="`group-${resultGroup.name}`"
            />
          </div>
          <div v-else>无结果</div>
        </el-collapse-item>
      </template>
    </el-collapse>
  </div>
</template>

<script>
import gql from "graphql-tag";
import AnalyseResult from "../components/AnalyseResult.vue";
import { getLoginUser, invokeApi } from "../common/utils";
import {
  PROVINCES,
  ALL_BATCHES,
  ALL_ETHNICS,
  CATEGORIES,
  availableApplyBatches
} from "../common/constants";

export default {
  name: "Recommend",
  components: {
    AnalyseResult
  },
  data() {
    return {
      loginUser: undefined,
      provinces: PROVINCES,
      batches: ALL_BATCHES,
      category: undefined,
      batch: 0,
      province: 11,
      year: 2019,
      score: 600,
      schoolFlag985: undefined,
      schoolFlag211: undefined,
      schoolFlagTopCollege: undefined,
      schoolFlagTopMajor: undefined,
      query: undefined,
      activeCollapseItems: ["condition"],
      // results
      recommendResult: undefined
    };
  },
  computed: {
    categoryName() {
      const category = CATEGORIES.find(x => x.id === this.category);
      return category && category.name;
    },
    ethnicityName() {
      const ethnicity = ALL_ETHNICS.find(x => x.id === this.loginUser.candidateInfo.ethnicity);
      return ethnicity && ethnicity.name;
    }
  },
  watch: {
    loginUser(newLoginUser) {
      if (newLoginUser !== undefined) {
        const { candidateInfo } = newLoginUser;
        this.year = candidateInfo.year;
        this.batches = availableApplyBatches(candidateInfo);
        this.category = candidateInfo.category;
        this.score = candidateInfo.score;
      }
    }
  },
  methods: {
    async requestRecommend() {
      const { schoolRecommend } = await invokeApi(() => {
        const filters = [{ key: "province", value: this.province.toString() }];
        if (this.schoolFlag985 !== undefined) {
          filters.push({
            key: "schoolFlag985",
            value: this.schoolFlag985.toString()
          });
        }
        if (this.schoolFlag211 !== undefined) {
          filters.push({
            key: "schoolFlag211",
            value: this.schoolFlag211.toString()
          });
        }
        return this.$apollo.query({
          query: gql`
            query RecommendSchool(
              $year: Int!
              $score: Int!
              $category: Int!
              $batch: Int!
              $filters: [SearchFilter]
              $query: String
            ) {
              schoolRecommend(
                year: $year
                score: $score
                category: $category
                batch: $batch
                filters: $filters
                query: $query
              ) {
                name
                description
                results {
                  name
                  scoreDescription
                  probability
                  description
                  detail {
                    rank
                    yearGroupedInfos {
                      year
                      cutoffScore
                      lowestRank
                      lowestScore
                      averageRank
                      averageScore
                      recruitCount
                      candidateCount
                      enrollCount
                    }
                    hints {
                      title
                      value
                    }
                  }
                }
              }
            }
          `,
          variables: {
            year: this.year,
            score: this.score,
            category: this.category,
            batch: this.batch,
            query: this.query,
            filters
          }
        });
      });
      this.recommendResult = schoolRecommend;
      this.activeCollapseItems = ["result-0", "result-1", "result-2"];
    }
  },
  created() {
    getLoginUser(this).then(user => {
      if (!user.activated) {
        this.$message.error("用户未激活");
        window.location.href = "#/home";
      } else {
        this.loginUser = user;
      }
    });
  }
};
</script>

<style scoped>
.result-group {
  max-height: 500px;
  overflow-y: scroll;
}
</style>