<template>
  <div>
    <div>sdf -- {{ loginUser }} -- ddd</div>
    <el-row :gutter="24">
      <el-col :span="24">
        <el-form :inline="true" :model="queryParams">
          <el-row :gutter="24">
            <el-col :span="6">
              <el-form-item label="类型" size="small">
                <el-select v-model="queryParams.category">
                  <el-option
                    v-for="category of categories"
                    :key="category.id"
                    :label="category.name"
                    :value="category.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="批次" size="small">
                <el-select v-model="queryParams.batch" placeholder="录取批次">
                  <el-option
                    v-for="batch of batches"
                    :key="batch.id"
                    :label="batch.name"
                    :value="batch.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="省份" size="small">
                <el-select v-model="queryParams.province" placeholder="省份">
                  <el-option
                    v-for="province of provinces"
                    :key="province.id"
                    :label="province.name"
                    :value="province.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="年份" size="small">
                <el-select v-model="queryParams.year" placeholder="年份">
                  <el-option v-for="year of years" :key="year" :label="year" :value="year"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="12">
              <el-form-item label="学校" size="small">
                <el-select v-model="queryParams.schoolId" placeholder="学校">
                  <el-option
                    v-for="school of provinceSchools"
                    :key="school.id"
                    :label="school.name"
                    :value="school.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-button type="success" @click="onSubmit">查询</el-button>
            </el-col>
          </el-row>
        </el-form>
      </el-col>
    </el-row>
    <!-- result table -->
    <el-row v-if="school" :gutter="24">
      <el-col :span="24">
        <strong>{{ school.name }}</strong>
        <el-card>
          <div slot="header">
            <strong>学校简介</strong>
          </div>
          <div>{{ school.rawIntro }}</div>
        </el-card>
        <el-card>
          <div slot="header">
            <span>招生录取历史</span>
          </div>
          <el-table :data="school.schoolAdmissionInfos" stripe>
            <el-table-column prop="year" label="年份" width="60"></el-table-column>
            <el-table-column prop="lowestScore" label="最低录取分"></el-table-column>
            <el-table-column prop="lowestRank" label="最低录取分排名"></el-table-column>
            <el-table-column prop="averageScore" label="平均录取分"></el-table-column>
            <el-table-column prop="averageRank" label="平均录取分排名"></el-table-column>
            <el-table-column prop="recruitCount" label="计划招生数"></el-table-column>
            <el-table-column prop="candidateCount" label="投档数"></el-table-column>
            <el-table-column prop="enrollCount" label="录取数"></el-table-column>
          </el-table>
        </el-card>
        <el-card>
          <div slot="header">
            <span>各专业录取情况</span>
          </div>
          <el-button @click="clearFilter">清除年份筛选</el-button>
          <el-table ref="filterTable" :data="school.majorAdmissionInfos" stripe>
            <el-table-column
              prop="year"
              label="年份"
              :filter-method="filterHandler"
              :filters="[{ text: '2016', value: 2016 }, { text: '2017', value: 2017 }, { text: '2018', value: 2018 }, { text: '2019', value: 2019 } ]"
            />
            <!-- TODO: dynamic filter-changes -->
            <el-table-column prop="schoolMajor" label="专业名称" />
            <el-table-column prop="recruitCount" label="招生数" />
            <el-table-column prop="reapplyCount" label="征集数" />
            <el-table-column prop="lowestScore" label="最低录取分" />
            <el-table-column prop="lowestRank" label="最低分排名" />
            <el-table-column prop="averageScore" label="平均录取分" />
            <el-table-column prop="averageRank" label="平均分排名" />
            <el-table-column prop="scoreDist" label="录取分数分布" />
          </el-table>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import {} from "../common/constants";

export default {
  data() {
    return {
      queryParams: {
        province: 11,
        schoolId: 0,
        category: 0,
        batch: 0,
        year: "2018"
      },
      // school: undefined,
      // TODO put into enums.js
      categories: [{ id: 0, name: "理工类" }, { id: 1, name: "文史类" }],
      batches: [
        { id: 0, name: "第一批" },
        { id: 1, name: "第二批" },
        { id: 2, name: "第一批预科" },
        { id: 3, name: "第二批预科" }
      ],
      years: ["2016", "2017", "2018", "2019"]
    };
  },
  methods: {
    filterHandler(value, row, column) {
      const property = column["property"];
      // eslint-disable-next-line no-console
      console.log('filterHandler', value, row, column, property, row[property]); // TODO 
      return row[property] === value;
    },
    clearFilter() {
      this.$refs.filterTable.clearFilter();
    },
    onSubmit() {} // TODO fake one
  },
  apollo: {
    provinces: {
      query: require("../graphql/Province.gql")
    },
    provinceSchools: {
      query: require("../graphql/ProvinceSchools.gql"),
      variables() {
        return {
          province: this.queryParams.province,
          category: this.queryParams.category,
          batch: this.queryParams.batch
        };
      }
    },
    school: {
      query: require("../graphql/SchoolDetail.gql"),
      variables() {
        return {
          id: this.queryParams.schoolId,
          category: this.queryParams.category,
          batch: this.queryParams.batch
        };
      }
      // skip() {
      //   return this.queryParams.schoolId == 0;
      // }
    }
  }
};
</script>

<style>
.el-form-item__content {
  width: 80%;
}
</style>