<template>
  <div>
    <el-row>
      <h3>提交过的模拟填报</h3>
      <el-col :span="24">
        <el-table :data="historyRecords">
          <el-table-column prop="id" label="id" />
          <el-table-column label="状态">
            <template slot-scope="scope">{{ scope.row.status.name }}</template>
          </el-table-column>
          <el-table-column prop="addTime" label="新增时间" />
          <el-table-column prop="updateTime" label="修改时间" />
          <el-table-column prop="comment" label="评语" />
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button @click="syncRecord(scope.row)">查看</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row>
      <h3>当前模拟填报</h3>
      <el-col :span="24">
        <el-row>
          <el-button @click="clearCurrentApplication" :disabled="!this.canSubmit">清空</el-button>
          <el-button @click="saveSimApplication" :disabled="!this.canSubmit">保存</el-button>
          <el-button @click="submitSimApplication" :disabled="!this.canSubmit">提交</el-button>
        </el-row>
        <el-row>
          <el-collapse>
            <el-collapse-item
              v-for="batch in batchApplications"
              :key="batch.batchId"
              :title="`录取批次 ${batch.batchName}`"
              :name="batch.batchName"
            >
              <el-switch v-model="batch.enabled" inactive-text="填报此批次：否" active-text="是" />
              <el-card>
                <div v-for="application in batch.applications" :key="application.level">
                <SimApplyTargetSelector
                  :year="year"
                  :category="category"
                  :batch="batch.batchId"
                  :level="application.level"
                  :applyData="application"
                />
                </div>
              </el-card>
              
              <!--
              <el-card>
                <div slot="header">
                  <div v-for="application in batch.applications" :key="application.level">
                    <ApplicationSelector
                      :year="year"
                      :category="category"
                      :batch="batch.batchId"
                      :batchEnabled="batch.enabled"
                      :level="application.level"
                      :province="application.province"
                      :schoolId="application.schoolId"
                      :schoolMajor="application.schoolMajor"
                      :allowAdjusting="application.allowAdjusting"
                      @onApplicationChange="onApplicationChange"
                    />
                  </div>
                </div>
              </el-card>
              -->
            </el-collapse-item>
          </el-collapse>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
/* eslint-disable */ // TODO
import ApplicationSelector from "../components/ApplicationSelector.vue";
import SimApplyTargetSelector from "../components/SimApplyTargetSelector.vue";

import {
  PROVINCES,
  ALL_BATCHES,
  ALL_ETHNICS,
  CATEGORIES,
  availableApplyBatches,
  PRIORITY_LEVELS,
  SIM_APPLICATION_STATUES
} from "../common/constants";
import { getLoginUser, invokeApi } from "../common/utils";
import SIM_APPLICATIONS_QUERY from "../graphql/SimApplications.gql";
import SAVE_APPLICATIONS_MUTATION from "../graphql/SaveSimApplicationMutation.gql";
import SUBMIT_APPLICATIONS_MUTATION from "../graphql/SubmitSimApplicationMutation.gql";

const DRAFT_STATUS = 0,
  SUBMITTED_STATUS = 1;

export default {
  name: "SimApplication",
  components: {
    ApplicationSelector,
    SimApplyTargetSelector
  },
  data() {
    return {
      year: 2019,
      loginUser: undefined,
      category: undefined,
      batches: [],
      priorityLevels: PRIORITY_LEVELS,
      batchApplications: [],
      historyRecords: [],
      currentApplicationStatus: undefined
    };
  },
  computed: {
    canSubmit() {
      return (
        this.historyRecords.find(
          record => record.status.id === SUBMITTED_STATUS
        ) === undefined
      );
    }
  },
  watch: {
    loginUser(newLoginUser) {
      if (newLoginUser !== undefined) {
        const { candidateInfo } = newLoginUser;
        this.year = candidateInfo.year;
        this.category = candidateInfo.category;
        const batches = availableApplyBatches(candidateInfo);
        this.batches = batches;
        const batchIds = new Set();
        batches.forEach(x => batchIds.add(x.id));
        this.batchApplications = this.batchApplications.filter(x =>
          batchIds.has(x.batchId)
        );
      }
    }
  },
  async created() {
    const user = await getLoginUser(this);
    if (!user.activated) {
      this.$message.error("用户未激活");
      window.location.href = '#/home';
      return;
    }
    this.loginUser = user;
    // load
    const historyRecordsResult = await invokeApi(async () => {
      return this.$apollo.query({
        query: SIM_APPLICATIONS_QUERY
      });
    });
    this.historyRecords = historyRecordsResult.simApplications;
    const savedRecord = historyRecordsResult.simApplications.find(
      record =>
        record.status.id === DRAFT_STATUS ||
        record.status.id === SUBMITTED_STATUS
    );
    if (savedRecord) {
      this.batchApplications = JSON.parse(savedRecord.content);
      const tipText = savedRecord.status.id === DRAFT_STATUS ? "已读取您上次保存的模拟填报记录" : "已读取您上次提交的模拟填报记录，暂无法修改，请等待指导教师审核";
      this.$message(tipText);
    } else {
      this.batchApplications = this.emptyApplicationRecord();
    }
  },
  methods: {
    emptyApplicationRecord() {
      const batchApplications = [];
      // const batches = availableApplyBatches(candidateInfo);
      for (let batch of this.batches) {
        batchApplications.push({
          batchId: batch.id,
          batchName: batch.name,
          enabled: true,
          applications: PRIORITY_LEVELS.map(level => {
            return {
              level,
              province: undefined,
              schoolId: undefined,
              schoolMajor: undefined,
              allowAdjusting: false
            };
          })
        });
      }
      return batchApplications;
    },
    onApplicationChange(data) {
      const modifiedApplication = this.batchApplications[data.batch][
        "applications"
      ].find(x => x.level === data.level);
      console.log(">>> modifiedApplication", modifiedApplication);
      modifiedApplication.province = data.province;
      modifiedApplication.schoolId = data.schoolId;
      modifiedApplication.schoolMajor = data.schoolMajor;
      modifiedApplication.allowAdjusting = data.allowAdjusting;
    },
    syncRecord(record) {
      const { status, content } = record;
      this.currentApplicationStatus = status;
      this.batchApplications = JSON.parse(content);
      console.log("syncRecord");
    },
    clearCurrentApplication() {
      this.$confirm("是否要清除目前输入的内容?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.batchApplications = this.emptyApplicationRecord();
          this.$message({
            type: "success",
            message: "已清除"
          });
        })
        .catch(err => {
          this.$message({
            type: "info",
            message: "已取消"
          });
        });
    },
    async saveSimApplication() {
      await invokeApi(async () => {
        return this.$apollo.mutate({
          mutation: SAVE_APPLICATIONS_MUTATION,
          variables: { content: JSON.stringify(this.batchApplications) }
        });
      });
      this.$message("已保存");
    },
    async submitSimApplication() {
      // TODO check integrity
      for (let batchApplication of this.batchApplications) {
        const isEmptyBatch = batchApplication.applications[0]["schoolId"] === undefined;
        for (let application of batchApplication.applications) {
          if (
            (isEmptyBatch && (application.schoolId !== undefined || application.schoolMajor !== undefined)) || 
            (!isEmptyBatch && (application.schoolId === undefined || application.schoolMajor === undefined))) {
            this.$message.warning("输入不完整");
            return;
          }
        }
      }
      await invokeApi(async () => {
        return this.$apollo.mutate({
          mutation: SUBMIT_APPLICATIONS_MUTATION,
          variables: { content: JSON.stringify(this.batchApplications) }
        });
      });
      this.$message("已提交");
    }
  }
};
</script>