<template>
  <el-row v-if="loginUser">
    <el-col :xs="24" :sm="24" :md="12" :lg="12">
      <template v-if="!userActivated">
        <el-card>
          <div slot="header">
            <strong>用户激活</strong>
          </div>
          <p>请设置密码与报考信息，以激活用户</p>
          <el-form>
            <el-form-item label="密 码">
              <el-input v-model="newPassword" show-password />
            </el-form-item>
            <el-form-item label="确认密码">
              <el-input v-model="confirmedPassword" show-password />
            </el-form-item>
          </el-form>
        </el-card>
      </template>
      <el-card class="user-info-card">
        <div slot="header">
          <strong>我的报考信息</strong>
        </div>
        <el-form label-width="80px">
          <el-form-item label="类型">
            <el-select v-model="loginUser.candidateInfo.category">
              <el-option
                v-for="category of CATEGORIES"
                :key="category.id"
                :label="category.name"
                :value="category.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="报考年份">
            <el-select v-model="loginUser.candidateInfo.year">
              <el-option v-for="year of YEARS" :key="year.id" :label="year.name" :value="year.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="分数">
            <el-input v-model.number="loginUser.candidateInfo.score" />
          </el-form-item>
          <el-form-item label="民族">
            <el-select v-model="loginUser.candidateInfo.ethnicity">
              <el-option
                v-for="ethnic of ALL_ETHNICS"
                :key="ethnic.id"
                :label="ethnic.name"
                :value="ethnic.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <template v-if="loginUser.candidateInfo.ethnicity !== HAN_ETHNIC_ID">
            <el-form-item label="区内民族加分">
              <el-input v-model.number="loginUser.candidateInfo.bonusWithinProvince" />
            </el-form-item>
            <el-form-item label="区外民族加分">
              <el-input v-model.number="loginUser.candidateInfo.bonusInterProvince" />
            </el-form-item>
          </template>
          <!-- for activated user: MODIFY button -->
          <template v-if="userActivated">
            <el-button @click="modifyCandidateInfo">修改</el-button>
          </template>
          <!-- for inactivate user: ACTIVATE button -->
          <template v-else>
            <el-button @click="activate">激活</el-button>
          </template>
        </el-form>
      </el-card>
    </el-col>
    <!-- for activated user: show edit -->
    <el-col :xs="24" :sm="24" :md="12" :lg="12" v-if="userActivated">
      <el-card class="user-info-card">
        <div slot="header">
          <strong>我的个人信息</strong>
        </div>
        <el-form label-width="80px">
          <el-form-item label="手机号">
            <el-input v-model="loginUser.mobile" :disabled="true" />
          </el-form-item>
          <el-form-item label="用户名">
            <el-input v-model="loginUser.name" />
          </el-form-item>
          <el-form-item label="姓名">
            <el-input v-model="loginUser.realName" placeholder="请输入真实姓名" />
          </el-form-item>
          <el-form-item label="邮箱">
            <el-input v-model="loginUser.email" placeholder="请输入邮箱" />
          </el-form-item>
          <el-button @click="modifyBasicInfo">修改</el-button>
          <el-divider />
        </el-form>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
/* eslint-disable */ // TODO
import {
  CATEGORIES,
  ALL_ETHNICS,
  HAN_ETHNIC_ID,
  YEARS
} from "../common/constants";
import { invokeApi, getLoginUser } from "../common/utils";
import { signIn } from "../common/auth";

const CANDIDATE_INFO_FIELDS = [
  "category",
  "ethnicity",
  "score",
  "year",
  "bonusInterProvince",
  "bonusWithinProvince"
];
const USER_BASIC_FIELDS = ["name", "realName", "email"];

function filterKeys(obj, keys) {
  const infos = {};
  for (let k of keys) {
    const v = obj[k];
    if (v !== null && v !== undefined) {
      infos[k] = v;
    }
  }
  return infos;
}

export default {
  name: "UserHome",
  created() {
    getLoginUser(this, false).then(user => {
      this.loginUser = user;
    });
  },
  data() {
    return {
      HAN_ETHNIC_ID,
      ALL_ETHNICS,
      CATEGORIES,
      YEARS,
      loginUser: undefined,
      oldPassword: undefined,
      newPassword: undefined,
      confirmedPassword: undefined
    };
  },
  computed: {
    userActivated() {
      return this.loginUser && this.loginUser.activated;
    }
  },
  methods: {
    async modifyCandidateInfo() {
      await invokeApi(async () => {
        const candidateInfo = filterKeys(
          this.loginUser.candidateInfo,
          CANDIDATE_INFO_FIELDS
        );
        const res = await this.$apollo.mutate({
          mutation: require("../graphql/UserCandidateInfoMutation.gql"),
          variables: { candidateInfo }
        });
        this.$message("已更新");
        return res;
      });
    },
    async modifyBasicInfo() {
      await invokeApi(async () => {
        await this.$apollo.mutate({
          mutation: require("../graphql/UserBasicInfoMutation.gql"),
          variables: filterKeys(this.loginUser, USER_BASIC_FIELDS)
        });
        this.$message("已更新");
      });
    },
    async onInvokeAuthApiSuccess(token, loginUser) {
      await signIn(token, this.$apolloProvider.defaultClient);
      this.loginUser = loginUser;
      this.$root.loginUser = loginUser;
    },
    async activate() {
      if (this.userActivated) {
        this.$message("已经激活");
        return;
      }
      if (this.newPassword !== this.confirmedPassword) {
        this.$message("两次密码不一致");
        return;
      }
      const result = await invokeApi(async () => {
        return this.$apollo.mutate({
          mutation: require("../graphql/ActivateInviteCodeAccountMutation.gql"),
          variables: {
            password: this.newPassword,
            candidateInfo: filterKeys(
              this.loginUser.candidateInfo,
              CANDIDATE_INFO_FIELDS
            )
          }
        });
      });
      const { token, user } = result.activateInviteCodeAccount;
      await this.onInvokeAuthApiSuccess(token, user);
      this.$message("激活成功");
    }
  }
};
</script>

<style>
.user-info-card {
  min-height: 500px;
  margin: 5px;
}
</style>