<template>
  <div>
    <p>
      <strong>管理员信息管理</strong>
    </p>
    <el-row>
      <el-col :span="4">
        <el-button @click="startEdit()">新增管理员</el-button>
      </el-col>
    </el-row>
    <el-row v-if="admins">
      <el-table :data="admins">
        <el-table-column prop="name" label="用户名" />
        <el-table-column label="类型">
          <template slot-scope="scope">
            <el-tag>{{ scope.row.type.name }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="mobile" label="手机号" />
        <el-table-column prop="realName" label="真实姓名" />
        <el-table-column prop="wechat" label="微信" />
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="startEdit(scope.row)">编辑</el-button>
          </template>
        </el-table-column>
        <el-table-column label="所有权限" type="expand">
          <template slot-scope="scope">
            <el-tag
              v-for="privilege of scope.row.privileges"
              :key="privilege.key"
            >{{ privilege.name }}</el-tag>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background layout="prev, pager, next" :total="1000"></el-pagination>
    </el-row>
    <!-- edit dialog -->
    <el-dialog title="编辑管理员" :visible.sync="editDialogVisible">
      <el-form :model="editContent">
        <el-form-item label="类型" :label-width="formLabelWidth">
          <el-select v-model="editContent.type" placeholder="管理员类型">
            <el-option
              v-for="type of adminTypes"
              :key="type.id"
              :label="type.name"
              :value="type.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="手机号" :label-width="formLabelWidth">
          <el-input v-model="editContent.mobile" />
        </el-form-item>
        <el-form-item label="真实姓名" :label-width="formLabelWidth">
          <el-input v-model="editContent.realName" />
        </el-form-item>
        <el-form-item label="微信号" :label-width="formLabelWidth">
          <el-input v-model="editContent.wechat" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelEdit">取 消</el-button>
        <el-button v-if="editContent.isAdd" type="success" @click="submitAdd">新 增</el-button>
        <el-button v-else type="success" @click="submitModify">修 改</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { ADMIN_TYPES, ADMIN_PRIVILEGS } from "../../common/constants";
import ADD_ADMIN_MUTATION from "../../graphql/AddAdminMutation.gql";
import MODIFY_ADMIN_MUTATION from "../../graphql/ModifyAdminMutation.gql";

export default {
  name: "AdminManage",
  data() {
    return {
      adminTypes: ADMIN_TYPES,
      adminPrivilegs: ADMIN_PRIVILEGS,
      pagination: {
        pageNo: 1,
        pageSize: 10,
        orderBy: "addTime",
        orderType: "desc"
      },
      editDialogVisible: false,
      editContent: {},
      formLabelWidth: "80px"
    };
  },
  apollo: {
    admins: {
      query: require("../../graphql/AdminList.gql"),
      variables() {
        return {
          pagination: this.pagination
        };
      }
    }
  },
  methods: {
    startEdit(row) {
      this.editContent = row
        ? {
            isAdd: false,
            type: row.type.id,
            ...row
          }
        : { isAdd: true };
      this.editDialogVisible = true;
    },
    cancelEdit() {
      this.editContent = {};
      this.editDialogVisible = false;
    },
    async submitAdd() {
      await this.$apollo.mutate({
        mutation: ADD_ADMIN_MUTATION,
        variables: {
          mobile: this.editContent.mobile,
          type: this.editContent.type,
          realName: this.editContent.realName,
          wechat: this.editContent.wechat
        }
      });
      this.$message(
        "新增成功，请新管理员使用初始密码123456登录，修改密码后可激活"
      );
      this.editContent = {};
      this.editDialogVisible = false;
      // TODO refresh
    },
    async submitModify() {
      await this.$apollo.mutate({
        mutation: MODIFY_ADMIN_MUTATION,
        variables: {
          userId: this.editContent.userId,
          type: this.editContent.type,
          mobile: this.editContent.mobile,
          realName: this.editContent.realName,
          wechat: this.editContent.wechat
        }
      });
      this.$message("修改成功");
      this.editContent = {};
      this.editDialogVisible = false;
      // TODO refresh
    }
  }
};
</script>