<template>
  <div>
    <el-tabs type="card">
      <el-tab-pane label="首页内容编辑">
        <el-row>
          <el-table :data="specialArticles">
            <el-table-column prop="key" label="类型" :formatter="specialArticleKeyNameFormatter" />
            <el-table-column prop="title" label="标题" />
            <el-table-column prop="author" label="作者" />
            <el-table-column prop="addTime" label="发布时间" />
            <el-table-column prop="updateTime" label="编辑时间" />
            <el-table-column prop="lastEditor" label="上次修改人" />
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button v-if="scope.row.id" @click="startModify(scope.row.id)">编辑</el-button>
                <el-button v-else @click="startCreate(scope.row)">新增</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="公告编辑"></el-tab-pane>
    </el-tabs>
    <el-row id="edit-bar" v-if="editingArticle">
      <el-card>
        <div slot="header">
          <strong>{{ editingArticle.editDisplayText }}</strong>
        </div>
        <el-form>
          <el-form-item label="标题">
            <el-input v-model="editingArticle.title" />
          </el-form-item>
          <el-form-item label="摘要">
            <el-input
              type="textarea"
              v-model="editingArticle.abstract"
              :rows="4"
              placeholder="请输入摘要内容"
            />
          </el-form-item>
          <el-form-item label="正文">
            <el-input
              type="textarea"
              v-model="editingArticle.content"
              :rows="8"
              placeholder="请输正文内容"
            />
          </el-form-item>
          <el-button @click="submitEdit">提交</el-button>
        </el-form>
      </el-card>
    </el-row>
  </div>
</template>
<script>
import gql from "graphql-tag";
import { ARTICLE_SPECIAL_KEYS } from "../../common/constants";
import { invokeApi } from "../../common/utils";

export default {
  name: "ArticleManage",
  data() {
    return {
      // constants
      ARTICLE_SPECIAL_KEYS,
      //
      specialArticles: [],
      announcementArticles: [],
      pagination: {
        pageNo: 1,
        pageSize: 10,
        orderBy: "addTime",
        orderType: "DESC"
      },
      editingArticle: undefined,
      isModify: false
    };
  },
  created() {
    this.loadSpecialArticles();
  },
  methods: {
    specialArticleKeyNameFormatter(article) {
      return this.ARTICLE_SPECIAL_KEYS.find(x => x.key === article.key)["name"];
    },
    async loadSpecialArticles() {
      const specialArticles = await this.loadArticles({
        keys: this.ARTICLE_SPECIAL_KEYS.map(x => x.key)
      });
      this.specialArticles = this.ARTICLE_SPECIAL_KEYS.map(x => {
        const key = x.key;
        const article = specialArticles.find(x => x.key === key);
        return article || { key };
      });
    },
    async loadArticles({ keys, type }) {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($keys: [String], $type: String, $pagination: Pagination) {
              articles(keys: $keys, type: $type, pagination: $pagination) {
                id
                key
                title
                author
                addTime
                updateTime
                lastEditor
              }
            }
          `,
          variables: {
            keys,
            type,
            pagination: this.pagination
          }
        });
      });
      return result.articles;
    },
    async loadArticle(id) {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($id: Int!) {
              article(id: $id) {
                id
                key
                type
                title
                abstract
                content
              }
            }
          `,
          variables: {
            id
          }
        });
      });
      return result.article;
    },
    //
    startCreate(article) {
      // eslint-disable-next-line no-console
      console.log("creating article", article); // TODO tmp
      article["editDisplayText"] = `新增${
        article.key === "announcement"
          ? "公告"
          : this.specialArticleKeyNameFormatter(article)
      }`;
      article["type"] = this.ARTICLE_SPECIAL_KEYS.find(
        x => x.key === article.key
      )["type"];
      this.editingArticle = article;
      this.isModify = false;
    },
    async startModify(id) {
      const article = await this.loadArticle(id);
      // eslint-disable-next-line no-console
      console.log("modifying article", article); // TODO tmp
      article["editDisplayText"] = `修改${
        article.key === "announcement"
          ? "公告"
          : this.specialArticleKeyNameFormatter(article)
      }`;
      this.editingArticle = article;
      this.isModify = true;
    },
    async submitEdit() {
      if (this.isModify) {
        // eslint-disable-next-line no-console
        console.log("modify content", this.editingArticle);
        await invokeApi(() => {
          return this.$apollo.mutate({
            mutation: gql`
              mutation(
                $id: Int!
                $key: String
                $title: String
                $abstract: String
                $content: String
              ) {
                modifyArticle(
                  updates: {
                    id: $id
                    key: $key
                    title: $title
                    abstract: $abstract
                    content: $content
                  }
                ) {
                  code
                  message
                }
              }
            `,
            variables: this.editingArticle
          });
        });
        this.$message("修改成功");
        alert("修改成功");
        this.editingArticle = null;
        this.loadSpecialArticles();
      } else {
        // eslint-disable-next-line no-console
        console.log("create content", this.editingArticle);
        await invokeApi(() => {
          return this.$apollo.mutate({
            mutation: gql`
              mutation(
                $type: String!
                $key: String
                $title: String!
                $abstract: String
                $content: String!
              ) {
                createArticle(
                  article: {
                    type: $type
                    key: $key
                    title: $title
                    abstract: $abstract
                    content: $content
                  }
                ) {
                  code
                  message
                }
              }
            `,
            variables: this.editingArticle
          });
        });
        this.$message("新增成功");
        this.editingArticle = null;
        await this.loadSpecialArticles();
        alert("新增成功");
      }
    }
  }
};
</script>