<template>
  <div>
    <p>
      <strong>邀请码注册管理</strong>
    </p>
    <div>
      <el-button @click="newPrivilegedCodeDialog.visible = true">新增特权账号</el-button>
      <el-button @click="newNormalBatchDialog.visible = true">新增一批验证码</el-button>
    </div>
    <el-row>
      <el-tabs v-model="activeTabName">
        <el-tab-pane label="验证码批次" name="codeBatchList">
          <el-table :data="codeBatchList">
            <el-table-column prop="id" label="序号" />
            <el-table-column prop="name" label="名称" />
            <el-table-column label="剩余数量/总数" :formatter="codeBatchCountFormatter"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <!-- <el-button @click="showBatchDispatchedCodeList(scope.row)"></el-button> -->
                <el-link @click="showBatchDispatchedCodeList(scope.row)">查看已注册的验证码</el-link>
                <el-link v-if="scope.row.type !== 0" :href="`#/inviteCodeBatch?id=${scope.row.id}`" target="_blank">展示二维码</el-link>
              </template>
            </el-table-column>
            <el-table-column label="创建人" :formatter="codeBatchCreatorNameFormatter" />
            <el-table-column prop="addTime" label="创建时间" />
          </el-table>
        </el-tab-pane>
        <el-tab-pane
          :label="'批次[' + selectedCodeBatch.name + ']已注册的验证码'"
          name="batchDispatchedCodeList"
          v-if="batchDispatchedCodeList"
        >
          <el-table :data="batchDispatchedCodeList">
            <el-table-column prop="code" label="验证码" />
            <el-table-column prop="owner.type.name" label="用户类型" />
            <el-table-column
              prop="owner.activated"
              label="是否激活"
              :formatter="codeRegisterUserActivatedFormatter"
            />
            <el-table-column prop="owner.mobile" label="手机号" />
            <el-table-column prop="owner.realName" label="姓名" />
            <el-table-column prop="owner.addTime" label="注册时间" />
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-row>
    <el-dialog title="新增验证码批次" :visible.sync="newNormalBatchDialog.visible">
      <el-form :model="newNormalBatchDialog.data">
        <el-form-item label="名称">
          <el-input v-model="newNormalBatchDialog.data.name"></el-input>
        </el-form-item>
        <el-form-item label="验证码数量">
          <el-input v-model.number="newNormalBatchDialog.data.codeCount"></el-input>
        </el-form-item>
      </el-form>
      <el-button @click="submitNewNormalCodeBatch">新增</el-button>
    </el-dialog>
    <el-dialog title="新增特权账号验证码" :visible.sync="newPrivilegedCodeDialog.visible">
      <el-form :model="newPrivilegedCodeDialog.data">
        <el-form-item label="特权账号手机号">
          <el-input v-model="newPrivilegedCodeDialog.data.mobile"></el-input>
        </el-form-item>
        <el-form-item label="指定验证码（初始密码）">
          <el-input v-model="newPrivilegedCodeDialog.data.specifiedInviteCode"></el-input>
        </el-form-item>
      </el-form>
      <el-button @click="submitNewPrivilegedCode">新增</el-button>
    </el-dialog>
  </div>
</template>
<script>
import gql from "graphql-tag";
import { invokeApi } from "../../common/utils";

const BATCH_TYPE_PRIVILEGED = 0;
// const BATCH_TYPE_NORMAL = 1;

export default {
  name: "InviteCodeManage",
  data() {
    return {
      activeTabName: "codeBatchList",
      codeBatchList: [],
      batchDispatchedCodeList: undefined,
      selectedCodeBatch: undefined,
      codeBatchListPagination: {
        pageNo: 1,
        pageSize: 10
      },
      newNormalBatchDialog: {
        visible: false,
        data: {
          name: undefined,
          codeCount: undefined
        }
      },
      newPrivilegedCodeDialog: {
        visible: false,
        data: {
          mobile: undefined,
          specifiedInviteCode: undefined
        }
      }
    };
  },
  created() {
    this.loadCodeBatchList();
  },
  methods: {
    async loadCodeBatchList() {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($pagination: Pagination) {
              inviteCodeBatches(pagination: $pagination) {
                id
                name
                creatorId
                type
                addTime
                codeCount
                remainCodeCount
              }
            }
          `,
          variables: {
            pagination: this.codeBatchListPagination
          }
        });
      });
      this.codeBatchList = result.inviteCodeBatches;
    },
    async loadBatchDispatchedCodeList(batchId) {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($id: Int) {
              inviteCodeBatch(id: $id) {
                dipatchedCodes {
                  code
                  owner {
                    id
                    mobile
                    activated
                    realName
                    type {
                      name
                    },
                    addTime
                  }
                }
              }
            }
          `,
          variables: { id: batchId }
        });
      });
      this.batchDispatchedCodeList = result.inviteCodeBatch.dipatchedCodes;
    },
    async showBatchDispatchedCodeList(codeBatch) {
      this.selectedCodeBatch = codeBatch;
      await this.loadBatchDispatchedCodeList(codeBatch.id);
      this.activeTabName = "batchDispatchedCodeList";
    },
    async submitNewNormalCodeBatch() {
      const result = await invokeApi(() => {
        return this.$apollo.mutate({
          mutation: gql`
            mutation AddInviteCodeBatch($name: String!, $codeCount: Int!) {
              addInviteCodeBatch(name: $name, codeCount: $codeCount) {
                code
                message
              }
            }
          `,
          variables: this.newNormalBatchDialog.data
        });
      });
      if (result) {
        this.$message("新增成功");
        this.loadCodeBatchList();
        this.newNormalBatchDialog.visible = false;
      }
    },
    async submitNewPrivilegedCode() {
      const result = await invokeApi(() => {
        return this.$apollo.mutate({
          mutation: gql`
            mutation AdminRegisterPrivilegedInviteCode($mobile: String!, $specifiedInviteCode: String) {
              adminRegisterPrivilegedInviteCode(mobile: $mobile, specifiedInviteCode: $specifiedInviteCode) {
                inviteCode
              }
            }
          `,
          variables: this.newPrivilegedCodeDialog.data
        });
      });
      if (result) {
        this.$message("新增成功");
        this.loadCodeBatchList();
        this.newPrivilegedCodeDialog.visible = false;
      }
    },
    codeBatchCountFormatter(codeBatch) {
      return codeBatch.type === BATCH_TYPE_PRIVILEGED
        ? "无次数限制"
        : `${codeBatch.remainCodeCount}/${codeBatch.codeCount}`;
    },
    codeBatchCreatorNameFormatter(codeBatch) {
      return codeBatch.creator && codeBatch.creator.name;
    },
    codeRegisterUserActivatedFormatter(code) {
      return code.owner.activated ? "是" : "否";
    }
  }
};
</script>