<template>
  <div>
    <p>
      <strong>学校信息管理</strong>
    </p>
    <el-row>
      <el-col :span="24">
        <!-- <school-query @onSchoolQuerySubmit="querySchoolYearMajors" /> -->
        <school-query @onSelectedSchoolChanged="querySchoolYearMajors" />
        <!-- not use login user on admin page -->
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="5">
        <el-form>
          <el-form-item label="年份" size="small">
            <el-select v-model="applyParams.year" :disabled="loginUser !== undefined">
              <el-option v-for="year of years" :key="year.id" :label="year.name" :value="year.id" />
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <template v-if="school">
      <el-row>
        <h3>学校信息</h3>
        <el-card>
          <div slot="header">
            <strong>简介</strong>
          </div>
          <el-input type="textarea" autosize v-model="school.rawIntro"></el-input>
        </el-card>
      </el-row>
      <template v-if="school.attributes">
        <el-row>
          <el-card>
            <div slot="header">
              <strong>录取规则</strong>
            </div>
            <div>
              <el-checkbox v-model="school.attributes.ethnic_bonus">是否承认民族加分</el-checkbox>
            </div>
            <div class="demo-input-suffix">
              专业级差（英文逗号分隔表示）
              <el-input
                v-model="school.attributes.major_score_ladder"
                prefix-icon="el-icon-search"
              />
            </div>
          </el-card>
        </el-row>
      </template>
      <el-button @click="modifySchoolInfo()">提交修改</el-button>
      <el-row>
        <h3>本年度全校招生录取历史</h3>
        <el-card>
          <el-table :data="school.schoolAdmissionInfos">
            <el-table-column prop="recruitCount" label="计划数" />
            <el-table-column prop="candidateCount" label="填报数" />
            <el-table-column prop="enrollCount" label="录取数" />
            <el-table-column prop="lowestScore" label="录取最低分" />
            <el-table-column prop="lowestRank" label="最低分名次" />
            <el-table-column prop="averageScore" label="录取平均分" />
            <el-table-column prop="averageRank" label="平均分名次" />
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  @click="modifySchoolAdmissionItem(scope.$index, school.schoolAdmissionInfos)"
                >修改</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
      <el-row>
        <h3>本年度各专业招生录取历史</h3>
        <el-card>
          <el-table :data="school.majorAdmissionInfos">
            <el-table-column prop="schoolMajor" label="专业名称" />
            <el-table-column prop="recruitCount" label="招生数" />
            <el-table-column prop="reapplyCount" label="征集数" />
            <el-table-column prop="scoreDist" label="分数分布" />
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  @click="modifyMajorAdmissionItem(scope.$index, school.majorAdmissionInfos)"
                >修改</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
    </template>
  </div>
</template>

<script>
import SchoolQuery from "../../components/SchoolQuery.vue";
// import AnalyseResult from "../../components/AnalyseResult.vue";
// import { getLoginUser } from "../../common/utils";

import MODIFY_SCHOOL_INFO_MUTATION from "../../graphql/ModifySchoolInfoMutation.gql";

const SCHOOL_FULL_INFO_QUERY = require("../../graphql/SchoolFullInfoForAdmin.gql");

export default {
  name: "EditSchoolInfo",
  components: {
    SchoolQuery
    // AnalyseResult
  },
  data() {
    return {
      loginUser: undefined,
      applyParams: {
        category: undefined,
        batch: undefined,
        schoolId: undefined,
        year: 2019,
        score: 600,
        schoolMajors: []
      },
      school: undefined,
      years: [
        { id: 2019, name: "2019" },
        { id: 2018, name: "2018" },
        { id: 2017, name: "2017" },
        { id: 2016, name: "2016" }
      ]
    };
  },
  methods: {
    async querySchoolYearMajors(queryParams) {
      this.applyParams.category = queryParams.category;
      this.applyParams.batch = queryParams.batch;
      this.applyParams.schoolId = queryParams.schoolId;
      this.applyParams.schoolMajors = [];
      const { data } = await this.$apollo.query({
        query: SCHOOL_FULL_INFO_QUERY, // require("../../graphql/SchoolYearMajors.gql"),
        variables: {
          id: queryParams.schoolId,
          category: queryParams.category,
          batch: queryParams.batch,
          year: this.applyParams.year
        }
      });
      this.school = data.school;
    },
    async modifySchoolInfo() {
      await this.$apollo.mutate({
        mutation: MODIFY_SCHOOL_INFO_MUTATION,
        variables: {
          id: this.school.id,
          rawIntro: this.school.rawIntro,
          attributes: {
             ethnic_bonus: this.school.attributes.ethnic_bonus,
             major_score_ladder: this.school.attributes.major_score_ladder,
          }
        },
      });
      this.$message("修改成功");
    },
    async modifySchoolAdmissionItem(row) {
      // eslint-disable-next-line no-console
      console.log("modifyMajorAdmissionItem", row);
      this.$message("暂不能修改");
    },
    async modifyMajorAdmissionItem(row) {
      // eslint-disable-next-line no-console
      console.log("modifyMajorAdmissionItem", row); // TODO
      this.$message("暂不能修改");
    }
  }
};
</script>