<template>
  <div>
    <p>
      <strong>系统设置</strong>
    </p>
    <el-row>
      <el-table :data="configList">
        <!-- <el-table-column prop="key" label="ID" /> -->
        <el-table-column prop="title" label="名称" />
        <el-table-column label="值">
          <template slot-scope="scope">
            <template v-if="editKey === undefined">
              <span>{{scope.row.value}}</span>
              <el-button @click="startEdit(scope.row.key, scope.row.value)" class="edit-btn">修改</el-button>
            </template>
            <template v-else>
              <el-input v-model="valueAfterEdit"></el-input>
              <el-button :disabled="valueBeforeEdit === valueAfterEdit" @click="saveEdit()" class="edit-btn">保存</el-button>
              <el-button @click="cancelEdit()" class="edit-btn">取消</el-button>
            </template>
          </template>
        </el-table-column>
        <!-- <el-table-column prop="editor" label="最近修改者" /> -->
        <el-table-column prop="updateTime" label="最近修改时间" />
      </el-table>
    </el-row>
  </div>
</template>
<script>
import gql from "graphql-tag";
import { invokeApi } from "../../common/utils";

export default {
  name: "SystemConfigManage",
  data() {
    return {
      configList: [],
      editKey: undefined,
      valueBeforeEdit: undefined,
      valueAfterEdit: undefined
    };
  },
  created() {
    this.loadConfigList();
  },
  methods: {
    async loadConfigList() {
      const result = await invokeApi(() => {
        return this.$apollo.query({
          query: gql`
            query($pagination: Pagination) {
              systemConfigList(pagination: $pagination) {
                key
                title
                value
                editor
                updateTime
              }
            }
          `,
          variables: {
            pagination: undefined
          }
        });
      });
      this.configList = result.systemConfigList;
    },
    async setConfigValue(key, value) {
      await invokeApi(() => {
        return this.$apollo.mutate({
          mutation: gql`
            mutation d($key: String!, $value: String!) {
              setSystemConfig(key: $key, value: $value) {
                code
                message
              }
            }
          `,
          variables: {
            key,
            value
          }
        });
      });
      this.$message("修改成功");
    },
    startEdit(key, value) {
      this.editKey = key;
      this.valueBeforeEdit = value;
      this.valueAfterEdit = value;
    },
    cancelEdit() {
      this.editKey = undefined;
      this.valueBeforeEdit = undefined;
      this.valueAfterEdit = undefined;
    },
    saveEdit() {
      this.setConfigValue(this.editKey, this.valueAfterEdit).finally(() => {
        this.cancelEdit();
        this.loadConfigList();
        location.reload();
      });
    }
  }
};
</script>
<style scoped>
.edit-btn {
  float: right;
}
</style>