<template>
  <div>
    <p>
      <strong>用户管理</strong>
    </p>
    <el-row>
      <el-table :data="users">
        <el-table-column prop="name" label="用户名称" />
        <el-table-column prop="mobile" label="手机号" />
        <el-table-column prop="type.name" label="用户类型" />
        <el-table-column prop="realName" label="真实姓名" />
        <el-table-column prop="addTime" label="注册时间" />
        <el-table-column label="操作">
          <template slot-scope="props">
            <el-button @click="changeUserType(props.row)">修改用户类型</el-button>
          </template>
        </el-table-column>
        <el-table-column label="详情" type="expand">
          <el-row slot-scope="props">
            <el-col :span="12">
              <i>报考信息</i>
              <div>
                <strong>考生类型</strong>
                {{ candidateCategories[props.row.candidateInfo.category] }}
              </div>
              <div>
                <strong>年份</strong>
                {{ props.row.candidateInfo.year }}
              </div>
              <div>
                <strong>民族</strong>
                {{ ethnics[props.row.candidateInfo.ethnicity] }}
              </div>
              <div>
                <strong>分数</strong>
                {{ props.row.candidateInfo.score }}
              </div>
              <div>
                <strong>区内加分</strong>
                {{ props.row.candidateInfo.bonusWithinProvince || "无" }}
              </div>
              <div>
                <strong>区外加分</strong>
                {{ props.row.candidateInfo.bonusInterProvince || "无" }}
              </div>
            </el-col>
            <el-col :span="12">
              <i>个人信息</i>

              <div>
                <strong>真实姓名</strong>
                {{ props.row.gender.name }}
              </div>
              <div>
                <strong>性别</strong>
                {{ props.row.gender.name }}
              </div>
              <div>
                <strong>微信</strong>
                {{ props.row.wechat }}
              </div>
              <div>
                <strong>邮箱</strong>
                {{ props.row.wechat }}
              </div>
            </el-col>
          </el-row>
        </el-table-column>
      </el-table>
    </el-row>
    <el-dialog :title="updateUserDialog.title" :visible.sync="updateUserDialog.visible">
      <el-form :model="updateUserDialog.data" ref="changeTypeForm" :rules="CHANGE_TYPE_FORM_RULES">
        <template v-if="updateUserDialog.type === 'changeType'">
          <el-form-item label="当前用户类型">{{ updateUserDialog.data.currentTypeName }}</el-form-item>
          <el-form-item label="修改后用户类型" prop="afterType">
            <el-select v-model="updateUserDialog.data.afterType">
              <el-option
                v-for="type of allUserTypes"
                :key="type.id"
                :label="type.name"
                :value="type.id"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="理由" prop="operateReason">
            <el-input type="textarea" v-model="updateUserDialog.data.operateReason" />
          </el-form-item>
          <el-button @click="submitUserTypeChange">提交</el-button>
        </template>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import gql from "graphql-tag";
import { invokeApi } from "../../common/utils";
import {
  CANDIDATE_CATEGORIES,
  ALL_ETHNICS,
  USER_TYPES
} from "../../common/constants";

function arrToIdNameMap(arr) {
  return arr.reduce((obj, item) => {
    obj[item["id"]] = item["name"];
    return obj;
  }, {});
}

export default {
  name: "UserManage",
  data() {
    return {
      users: [],
      candidateCategories: arrToIdNameMap(CANDIDATE_CATEGORIES),
      ethnics: arrToIdNameMap(ALL_ETHNICS),
      allUserTypes: USER_TYPES,
      pagination: {
        pageNo: 1,
        pageSize: 100
      },
      updateUserDialog: {
        visible: false
      },
      CHANGE_TYPE_FORM_RULES: {
        operateReason: [{ required: true, message: "必填s" }],
        afterType: [{ required: true, message: "必填", trigger: "blur" }]
      }
    };
  },
  methods: {
    async loadUsers() {
      const result = await invokeApi(() => {
        // eslint-disable-next-line no-console
        console.log(">>> into loadUsers"); // TODO
        return this.$apollo.query({
          query: gql`
            query($pagination: Pagination) {
              users(pagination: $pagination) {
                id
                name
                mobile
                activated
                type {
                  id
                  name
                }
                candidateInfo {
                  category
                  ethnicity
                  year
                  score
                  bonusWithinProvince
                  bonusInterProvince
                }
                addTime
                gender {
                  id
                  name
                }
                realName
                wechat
                email
              }
            }
          `,
          variables: {
            pagination: this.pagination
          }
        });
      });
      this.users = result.users;
    },
    async changeUserType(userInfo) {
      // eslint-disable-next-line no-console
      console.log(">>> into changeUserType", userInfo, this.updateUserDialog);
      this.updateUserDialogVisible = true;
      this.updateUserDialog = {
        visible: true,
        title: "修改后用户类型",
        type: "changeType",
        data: {
          userId: userInfo.id,
          currentTypeName: userInfo.type.name,
          afterType: undefined,
          operateReason: undefined
        }
      };
    },
    async submitUserTypeChange() {
      let isValid = true;
      await this.$refs["changeTypeForm"].validate((valid) => {
        if (!valid) {
          isValid = false;
          return false;
        } else {
          return true;
        }
      });
      if (!isValid) {
        return;
      }
      await invokeApi(() => {
        return this.$apollo.mutate({
          mutation: gql`
            mutation ChangeUserType(
              $userId: String!
              $type: Int!
              $reason: String
            ) {
              changeUserType(userId: $userId, type: $type, reason: $reason) {
                code
                message
              }
            }
          `,
          variables: {
            userId: this.updateUserDialog.data.userId,
            type: this.updateUserDialog.data.afterType,
            reason: this.updateUserDialog.data.operateReason
          }
        });
      });
      location.reload();
      this.updateUserDialog = {
        visible: false
      };
    }
  },
  created() {
    this.loadUsers();
  }
};
</script>